main {
    animation: titleMoveIn 0.75s forwards;
}

/*=-=-=-=-=-=-=-= Code From SpencOS =-=-=-=-=-=-=-=*/

.windowContent{
    width: fit-content;
    padding: 30px;
}

.appHeader{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid gray;
    z-index: 50px;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.appActions{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appActions span{
    position: absolute;
    margin-top: 3px;
    margin-left: 7px;
}

.appActions li{
    float: right;
    width: 45px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.appActions li:hover{
    background-color: rgba(128, 128, 128, 0.2);
}

.appActions .typeClose:hover{
    background-color: rgb(252, 100, 100);
    border-top-right-radius: 10px;
}

/*<---------- Special Discord-like Profile hehe ---------->*/

#myProfile{
    background: linear-gradient(to bottom, #dac3c3, #f24d4d);    
    padding: 4px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    transition: width 0.2s, height 0.2s;
}

.profileCard{
    background: linear-gradient(to bottom, rgb(214, 243, 255), #e4d6d6, #FFB9B9);
    width: 300px;
    height: auto;
    color: #54565B;
    border-radius: 10px;
    padding-bottom: 10px;
    transition: width 0.2s, height 0.2s;
}

.profileHeader{
    width: 100%;
    height: 190px;
}

.userPicture{
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 10px;
    border: 6px solid #EDF8FC;
    border-radius: 50%;
}

.userStatus {
    width: 20px;
    height: 20px;
    margin-left: -38px;
    background-color: #EEF7FB;
    border: 5px solid #EEF7FB;
    border-radius: 50%;
}

.userBanner{
    width: 100%;
    height: 130px;
    background: url('../media/images/ska/skavatar.webp') no-repeat;
    background-size: 107%;
    background-position-y: -25px;
    background-position-x: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.userIcons{
    width: auto;
    max-width: 100px;
    background-color: #eef7fb81;
    display: flex;
    float: right;
    margin: 15px;
    margin-top: -10px;
    padding: 6px;
    border-radius: 10px;
}

.userIcons img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 10px;
}

.profileBody{
    background-color: rgba(255, 255, 255, 0.374);
    width: 85%;
    height: auto;
    min-height: 200px;
    margin-top: -20px;
    margin-left: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profileBody hr{
    color: #E5D2D3;
}

.profileBody span{
    color: #3f3f3f;
    font-size: 10pt;
    white-space: wrap;
}

.name{
    color: #000000;
    font-size: 16pt !important;
}

.user{
    margin-top: -3px;
}

.bio{
    display: block;
    margin-top: 10px;
}

[data-theme='dark'] #myProfile{
    background: linear-gradient(to bottom, #171111, #9c1f1f);    

}
[data-theme='dark'] .profileCard{
    background: linear-gradient(to bottom, rgb(7, 6, 6), #1b1414, #461e1e, #4a0e0e);
    color: #a9a9a9 !important;
}

[data-theme='dark'] .userPicture{
    border: 6px solid #1d1919;
}

[data-theme='dark'] .userStatus{
    background-color: #1d1919;
    border: 5px solid #1d1919;
}

[data-theme='dark'] .profileBody, [data-theme='dark'] .userIcons{
    background-color: rgba(0, 0, 0, 0.374);
}

[data-theme='dark'] .profileCard span, [data-theme='dark'] .name, [data-theme='dark']{
    color: #e4e5e9;
}

[data-theme='dark'] .userRoles span{
    background-color: #21212181;
    color: #e4e5e9;
}

/*<---------- Regular Profile Stuff ---------->*/

.links img{
    width: 15px;
    height: 15px;
}

.links a{
    display: inline-block;
    width: auto;
    padding: 5px;
    font-size: 11pt;
    background-color: #00000015;
    border: 2px solid gray;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    color: rgb(245, 245, 245);
    transition: background-color 0.2s;
}

.links img{
    display: inline-block;
    margin-right: 4px;
    margin-top: -5px;
    vertical-align: middle;
}

.links a:hover{
    background-color: rgba(246, 151, 151, 0.3);
}

.socials{
    height: 30px;
}

.socials a{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: 30px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: background-color 0.2s, width 0.3s, height 0.3s, background-position 0.2s, border-radius 0.2s;
    cursor: pointer;
}  

.imageTypeSocials:active{
    transform: scale(1.1);
}

.mainJoinSteam{
    border: 2px solid #0275A5;
    background: url(../media/icons/logos/logoSteam.webp) no-repeat center;
}

.mainJoinDiscord{
    border: 2px solid #5865F2;
    background: url(../media/icons/logos/logoDiscord.webp) no-repeat center;
    background-size: 32px;
}

.mainJoinInstagram{
    border: 2px solid #f258af;
    background: url(../media/icons/logos/instagram.webp) no-repeat center;
}

.mainJoinGitHub{
    border: 2px solid #b8b8b8;
    background: url(../media/icons/logos/github.webp) no-repeat center;
}

.mainJoinOSU{
    border: 3px solid #E75D9B;
    background: url(../media/icons/logos/logoOSU.png) no-repeat center;
}


.mainJoinSteam:hover{
    background: #0275A5 url(../media/icons/logos/logoSteamHover.webp) no-repeat center;
    background-size: 32px;
}

.mainJoinDiscord:hover{
    background: #5865F2 url(../media/icons/logos/logoDiscordHover.webp) no-repeat center;
    background-size: 30px;
}

.mainJoinInstagram:hover{
    background-color: #93366a;
}

.mainJoinGitHub:hover{
    background-color: #8d8c8c;
}

.mainJoinOSU:hover{
    background: #E75D9B url(../media/icons/logos/logoOSU.png) no-repeat center;
    background-size: 36px;
}

/*It's Mobilin' Time*/

@media only screen and (max-width: 800px){
    #myProfile{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .window{
        margin-bottom: 30px;
    }    
}

@keyframes titleMoveIn {
    0% { opacity: 0; transform: scale(0.9); }
    30% { opacity: 0; transform: scale(0.9); }
    80% { opacity: 1; }
    100% { transform: scale(1); }
}

@media (prefers-reduced-motion) {
    #topArea, .columnContainer, .columnContainer article, #myProfile, .theSilly{
        animation: none;
    }
}