main {
    animation: titleMoveIn 0.75s forwards;
}

#bodyHome article{
    max-width: 1300px;
}

.gradientRedWhite{
    width: fit-content;
    font-size: 28pt;
    background: linear-gradient(45deg, #ffbbbe, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

[data-theme='light'] .gradientRedWhite{
    background: none;
    color: var(--text-color);
}

/*=-=-=-=-=-=-=-= Code From SpencOS =-=-=-=-=-=-=-=*/

.windowContent{
    width: fit-content;
    padding: 4%;
    padding-top: 20px;
}

.appHeader{
    border-bottom: 1px solid var(--primary-border);
    width: 100%;
    height: 35px;
    z-index: 1;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.appActions{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appActions span{
    position: absolute;
    margin-top: 3px;
    margin-left: 7px;
}

.appActions li{
    float: right;
    width: 45px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.appActions li:hover{
    background-color: rgba(128, 128, 128, 0.2);
}

.appActions .typeClose{
    border-top-right-radius: 10px;
}

.appActions .typeClose:hover{
    background-color: rgb(252, 100, 100);
}

/*<---------- Special Discord-like Profile hehe ---------->*/

#myProfile{
    background: linear-gradient(to bottom, #111517, #9c1f1f);
    padding: 4px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    transition: width 0.2s, height 0.2s;
    box-shadow: 0px 8px 16px 3px rgba(0,0,0,0.2);
}

[data-theme='light'] #myProfile {
    background: linear-gradient(to bottom, #dac3c3, #f24d4d);    
}

.profileCard{
    background: linear-gradient(to bottom, rgb(6, 6, 7), #15141b, #461e1e, #4a0e0e);
    width: 300px;
    height: auto;
    color: var(--text-color);
    border-radius: 10px;
    padding-bottom: 10px;
    transition: width 0.2s, height 0.2s;
}

[data-theme='light'] .profileCard {
    background: linear-gradient(to bottom, rgb(214, 243, 255), #e4d6d6, #FFB9B9);
}

.profileHeader{
    width: 100%;
    height: 190px;
}

.userPicture{
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 10px;
    border: 6px solid #1d1919;
    border-radius: 50%;
    cursor: pointer;
}

[data-theme='light'] .userPicture {
    border: 6px solid #EDF8FC;
}

.userStatus {
    width: 20px;
    height: 20px;
    margin-left: -38px;
    background-color: #1d1919;
    border: 5px solid #1d1919;
    border-radius: 50%;
}

[data-theme='light'] .userStatus {
    background-color: #EEF7FB;
    border: 5px solid #EEF7FB;
}

.userBanner{
    width: 100%;
    height: 130px;
    background: url('../media/images/ska/skavatar.webp') no-repeat;
    background-size: 107%;
    background-position-y: -25px;
    background-position-x: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.userIcons{
    width: auto;
    max-width: 100px;
    background-color: rgba(0, 0, 0, 0.374);
    display: flex;
    float: right;
    margin: 15px;
    margin-top: -10px;
    padding: 6px;
    border-radius: 10px;
}

.userIcons img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 10px;
}

.profileBody{
    background-color: rgba(0, 0, 0, 0.374);
    width: 85%;
    height: auto;
    min-height: 200px;
    margin-top: -20px;
    margin-left: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

[data-theme='light'] .profileBody, [data-theme='light'] .userIcons {
    background-color: rgba(255, 255, 255, 0.375);
}

.profileBody span{
    font-size: 10pt;
    white-space: wrap;
}

.name{
    font-size: 16pt !important;
}

.bio{
    display: block;
    margin-top: 10px;
}

/*<---------- Regular Profile Stuff ---------->*/

.socials, .links{
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.socials a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 2px;
    padding: 2px;
    border-style: solid;
    transition: background-color 0.2s, transform 0.15s, border-radius 0.2s ease-out;
    cursor: pointer;
    -webkit-user-drag: none;
}

.socials img {
    width: 30px;
    height: 30px;
}

.socials a:hover{
    border-radius: 35%;
    transform: translateY(-1px);
}

.links a{
    display: inline-block;
    width: auto;
    padding: 5px;
    font-size: 11pt;
    border: 2px solid var(--primary-border);
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    transition: background-color 0.2s, transform 0.2s;
}

.links img{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-top: -5px;
    vertical-align: middle;
}

.links a:hover{
    background-color: rgba(246, 151, 151, 0.3);
    transform: translateY(-1px);
}

.logoSteam{
    border-color: rgb(2, 117, 165);
}

.logoSteam:hover{
    background-color: rgba(2, 116, 165, 0.8);
}

.logoSteam:hover img{
    content: url(../media/icons/logos/logoSteamHover.webp);
}

.logoGitHub{
    border-color: rgb(184, 184, 184);
}

.logoGitHub:hover{
    background-color: rgba(184, 184, 184, 0.6);
}

.logoDiscord{
    border-color: rgb(88, 101, 242);
}

.logoDiscord:hover{
    background-color: rgba(88, 101, 242, 0.7);
}

.logoDiscord:hover img{
    filter: brightness(0) invert(1);
}

.logoInstagram{
    border-color: rgb(242, 88, 175);
}

.logoInstagram:hover{
    background-color: rgba(242, 88, 175, 0.3)
}

.logoTwitter {
    border: 2px solid rgb(115, 155, 205);
} 

.logoTwitter:hover{
    background-color: rgba(115, 156, 205, 0.6);
}

.logoOSU{
    border-color: rgb(231, 93, 155);
}

.logoOSU:hover{
    background-color: rgb(231, 93, 155, 0.6);
}

/*It's Mobilin' Time*/

@media only screen and (max-width: 750px){
    #myProfile{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .window{
        margin-bottom: 20px;
    }

    .gradientRedWhite{
        width: auto;
        font-size: 26pt;
    }
}

@media only screen and (max-width: 500px){
    .offPhones{
        display: none;
    }

    .windowContent{
        padding: 10px;
    }
}

@keyframes titleMoveIn {
    0% { opacity: 0; transform: scale(0.9); }
    30% { opacity: 0; transform: scale(0.9); }
    80% { opacity: 1; }
    100% { transform: scale(1); }
}