[data-theme='dark'] body{
    background: linear-gradient(45deg, rgb(35, 37, 49), rgb(43, 51, 58));
}

.columnContainer{
    margin-top: 0px;
}

#cyanHerself{
    width: 200px;
    height: auto;
    margin: 0px;
    border: 8px solid white;
}

.buttonForCyan{
    margin-top: 20px;
    border: 0px !important;
    background: linear-gradient(to right, #384272, #ffa9f28e);
    box-shadow: 0 2px 8px 0 #ffa9f263,0 6px 20px 0 #384272;
    transition: scale 0.15s, box-shadow 0.15s;
}

[data-theme="light"] .buttonForCyan{
    background: linear-gradient(to right, #9faade, #ffa7f28e);
    box-shadow: 0 2px 8px 0 #ffc0f663,0 6px 20px 0 #6976b3;
}

.buttonForCyan:hover{
    box-shadow: 0 6px 24px 0 #ffa9f263,0 18px 60px 0 #384272;
}

[data-theme="light"] .buttonForCyan:hover{
    box-shadow: 0 6px 24px 0 #bc77b163,0 18px 60px 0 #6572b4;
}

.cyanDisplay{
    display: block;
    width: 50%;
    min-width: 250px;
    background: linear-gradient(to top, #3842722a, #fab1f74a), linear-gradient(to right, #3842725f, #fab1f70c);
    margin-left: 25%;
    border-bottom: 40px solid #384272;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 300px;
}

.cyanDisplay img{
    width: 25vw;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: -30px;
}

.medium{
    max-width: 30%;
}   

.bubbleList div{
  transform: none !important;
  box-shadow: none !important;
  cursor: inherit;
}

@media only screen and (max-width: 750px) {
    .medium{
        max-width: 80%;
    }
}