[data-theme='dark'] body{
  background: linear-gradient(45deg, rgb(46, 50, 69), rgb(64, 53, 81));
}

article img{
  width: 100%;
}

.necoArc{
    width: 128px;
    height: auto;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 15px;
}

.bannerButton img{
    margin-top: -90px;
    transition: width 0.2s, margin-top 0.2s, transform 0.2s;
}

.bannerButton:hover img{
    width: 150px;
    margin-top: -60px;
}

.bannerButton:active img{
  width: 0px;
  margin-top: -50px;
  transform: rotate(480deg);
}

.bubbleList div{
  background-color: rgb(76, 66, 94);
  border: 2px solid #f6b6ff;
  cursor: pointer;
  transition: transform 0.15s, box-shadow 0.15s;
}

[data-theme='light'] .bubbleList div{
  background-color: rgb(242, 234, 242);
  border: 2px solid #f6b6ff;
}

.bubbleList div:hover{
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sailImage{
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inviteButton{
    width: 140px;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 16pt;
    text-indent: 45px;
    cursor: pointer;
    border-radius: 15px;
    transition: width 0.2s, height 0.2s, background-color 0.2s, border 0.2s, border-radius 0.2s;
}

.inviteButton:hover{
  border: 3px solid rgba(255, 255, 255, 0.15);
}

.mainJoinDiscord{
    border: 3px solid #5865F2;
    background: url(../../global/media/icons/logos/logoDiscord.webp) no-repeat 8px 5px;
    background-position: 8px 5px;
    background-size: 40px;
}

.mainJoinSteam{
  border: 3px solid #0275A5;
  background: url(../../global/media/icons/logos/logoSteam.webp) no-repeat 8px 4px;
  background-size: 38px;
  background-position: 10px 6px;
}

.mainJoinDiscord:hover{
  background: #5865F2 url(../../global/media/icons/logos/logoDiscordHover.webp) no-repeat 8px 5px;
  background-size: 40px;
  color: white;
}

.mainJoinSteam:hover{
  background: #0275A5 url(../../global/media/icons/logos/logoSteamHover.webp) no-repeat 8px 4px;
  background-size: 38px;
  background-position: 10px 6px;
  color: white;
}

@media only screen and (max-width: 900px) and (min-width: 500px){
  .brieflyHidden{
      display: none;
  }
}

@media only screen and (max-width: 400px) {
  .inviteButton{
      width: 64px;
      font-size: 0px;
  }

  .columnContainer{
    margin: 0px;
  }
} 