[data-theme='dark'] body{
  background: linear-gradient(45deg, rgb(46, 50, 69), rgb(64, 53, 81));
}

[data-theme='light'] body{
    background: linear-gradient(45deg, rgb(235, 239, 250), hsl(284, 40%, 91%));
}

#bannerContainer{
  background: linear-gradient(to bottom, rgb(142, 148, 175), rgb(210, 173, 224));
}

#bannerMain{
  background-image: url('../media/banners/sky.webp');
}

.promoImageGG{
  display: block;
  width: 95%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 3px solid var(--primary-border);
}

[data-theme='light'] .promoImageGG{
  content: url('../images/galleon/disPromoLight.webp');
}

.necoArc{
  width: 120px;
  height: auto;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 15px;
}

.bannerButton img{
  margin-top: -90px;
  transition: width 0.2s, margin-top 0.2s, transform 0.2s;
}

.bannerButton:hover img{
    width: 150px;
    margin-top: -60px;
}

.bannerButton:active img{
  width: 0px;
  margin-top: -50px;
  transform: rotate(480deg);
}

.bubbleList div{
  background-color: rgb(76, 66, 94);
  border: 2px solid #f6b6ff;
  cursor: pointer;
  transition: transform 0.15s, box-shadow 0.15s;
}

[data-theme='light'] .bubbleList div{
  background-color: rgb(241, 238, 254);
  border: 2px solid #f6b6ff;
}

.bubbleList div:hover{
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sailImage{
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inviteButton{ 
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16pt;
  cursor: pointer;
  border-radius: 15px;
  transition: width 0.2s, height 0.2s, background-color 0.2s, border 0.2s, border-radius 0.2s;
}

.inviteButton:hover{
  color: white;
}

.inviteButton img{
  width: 32px;
  height: 32px;
}

.mainJoinDiscord{
  border: 3px solid #5865F2;
}

.mainJoinDiscord:hover{
  background-color: #5865F2;
}

.mainJoinSteam{
  border: 3px solid #0275A5;
}

.mainJoinSteam:hover{
  background-color: #0275A5;
}

.mainJoinRoot {
  border: 3px solid #2755DD;
}

.mainJoinRoot:hover {
  background-color: #2755DD;
}

.mainJoinDiscord:hover img, .mainJoinRoot:hover img {
  filter: brightness(0) invert(1);
}

.mainJoinSteam:hover img{
  content: url(../../global/media/icons/logos/logoSteamHover.webp);
}

@media only screen and (max-width: 900px) and (min-width: 600px){
  .brieflyHidden{
      display: none;
  }
}

@media only screen and (max-width: 400px) {
  .inviteButton{
      width: 64px;
      font-size: 0px;
  }

  .columnContainer{
    margin: 0px;
  }
} 