#bannerContainer{
    animation: bannerReveal 1s forwards;
}

#bannerMain{
    height: 450px;
    border-bottom: 4px solid #d3d3d3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    /*Patch for weird padding bug*/
    margin-top: -87px;
}

#lobbyBanner{
  transition: opacity 0.3s, transform 0.6s;
}

.mainImage{
  width: 100px;
  height: auto;
  padding: 10px;
  transition: transform 0.2s;
}
  
.mainText{
  font-size: 48pt; 
}

#bannerMain span, #bannerMain h2{
    color: rgb(235, 235, 235);
}

.bannerImageSeal{
  background-image: url('../media/banners/landscape.webp');
}

.bannerImageGalleon{
  background-image: url('../media/banners/sky.webp');
}

.placeholderLobby{
  background: linear-gradient(to top, rgb(224, 127, 85), rgb(121, 97, 177));
}

.placeholderGalleon{
  background: linear-gradient(to bottom, rgb(96, 116, 194), rgb(178, 90, 212));
}

.bannerContent{
    margin: auto;
    position: absolute; 
    left: 0; 
    right: 0;
    top: 18%;
}

.bannerButton{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 30%;
    max-width: 200px;
    min-width: 175px;
    height: 70px;
    background-color: rgb(41, 43, 50, 0.75);
    backdrop-filter: blur(5px);
    color: rgb(246, 151, 151);
    border: 5px solid #d3d3d3;
    border-radius: 20px;
    font-size: 18pt;
    transition: font-size 0.2s, background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.bannerButtonAnimate{
    margin-top: -100px;
    animation: clickMeHome 2s infinite;  
}

.bannerButton:hover{
    background-color: rgb(246, 151, 151);
    color: rgb(255, 255, 255);
    font-size: 20pt;
}

.bannerButton:active{
  transform: scale(1.1);
}

.homeSpace a{
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  height: auto;
  border-radius: 20px;
  font-size: 18pt;
  margin: 5px;
  padding: 10px 10px;
  background-color: rgba(241, 142, 92, 0.1);
  border: 1px solid #bb3e00;
  cursor: pointer;
  transition: font-size 0.2s, width 0.2s, background-color 0.2s, scale 0.2s;
}

.homeSpace a:hover{
  scale: 1.1;
}

.homeSpace a:active{
  scale: 1;
}

.homeSpace img{
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 0px;

}

/*It's Mobilin' Time*/

@media only screen and (max-width: 1000px) {
  .homeSpace a{
    font-size: 13pt;
  }
  
  .homeSpace img{
    width: 24px;
    height: 24px;
  }

}

@media only screen and (max-width: 800px) {
  #bannerMain{
    height: 350px;
    margin-top: -50px;
  }

  .bannerContent{
    top: 8%;
  }

  #lobbyArticle{
    top: 75px;
  }
}

@media only screen and (max-width: 500px) {
  .mainText{
    font-size: 30pt;
  }

  .mainImage{
    width: 80px;
    height: 80px;
  }
}


@keyframes bannerReveal {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    scale: 0.9;
  }
  5%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
    scale: 1;
  }
}
  
@keyframes clickMeHome {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -105px;
  }
  100% {
    margin-top: -100px;
  }
}

@keyframes delayedMoveIn {
  0%{ 
      transform: translateY(90px);
  }
  75%{
      transform: translateY(90px);
  }
  100%{
      transform: translateY(-4px);
  }
}

@media (prefers-reduced-motion) {
  #bannerContainer, .bannerButton {
    animation-duration: 0s;
  }

  .bannerButtonAnimate{
    margin-top: -120px;
  }

  .homeSpace a, .person, .person .imageTypeMedium{
    transition-duration: 0s;
  }
}
