/*Featured Posts*/

#featuredBoxes {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#featuredBoxes div{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
    display: inline-flex;
    flex-direction: column;
    width: 400px;
    min-height: 180px;
    margin: 5px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

#featuredBoxes a{
    height: 160px;
    padding: 15px;
    padding-top: 10px;
    border-radius: 9px;
    text-decoration: none;
    text-align: left;
    scale: 1;
}

#featuredBoxes div:active{
    scale: 1.05;
}

#featuredBoxes h2{
    font-size: 14pt;
    margin-top: 10px;
}

#featuredBoxes img{
    width: 32px;
    margin-right: 10px;
    margin-top: -5px;
    vertical-align: middle;
}

/*More Posts*/

#listBoxes{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#listBoxes a{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
    display: flex;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-decoration: none;
}

#listBoxes div{
    flex: 1;
}

#listBoxes h2{
    font-size: 14pt;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
}

#listBoxes hr{
    margin-top: 20px;
    margin-bottom: 30px;
}

#listBoxes img{
    width: 190px;
    height: 100px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#showHiddenItem{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#featuredBoxes a:hover h1, #listBoxes a:hover h1{
    text-decoration: underline;
}

/*In Posts*/

.blog article{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
    padding: 0px;
    max-width: 900px;
}

#blogContent{
    padding: 50px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.blog img{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imageWidthFull{
    margin-top: 0px !important;
    max-height: 350px !important;
    object-fit: cover;
}

#blogDetails img{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: -3px;
    margin-right: 5px;
}

#shareButton{
    width: 32px;
    height: 32px;
    margin: 0px;
    float: right;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}   

#shareButton:active{
    scale: 1.2;
}

#returnButton{
    display: absolute;
    position: sticky;
    top: 50px;
    padding: 10px;
    font-size: 20pt;
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
}


/*Comments*/

#HCB_comment_box{
    width: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*Comments*/

[data-theme='light'] #HCB_comment_box{
    color: black;
}

#HCB_comment_box img{
    display: none;
}

#HCB_comment_box textarea{
    resize: none;
}

#HCB_comment_box h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px !important;
    line-height: 0px;
}

#HCB_comment_box span, #HCB_comment_box a{
    font-size: 13pt;
}

.home-desc{
    display: none;
}

/*Moblin' Time*/

@media only screen and (max-width: 900px) {
    #featuredBoxes div{
        width: 100%;
        height: auto;
        min-height: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    #featuredBoxes a{
        height: auto;
    }

    #HCB_comment_box{
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .blog article{
        width: 97%;
        padding-top: 20px;
    }

    #returnButton{
        position: absolute;
        top: 0;
        margin-top: -8px;
    }
    
    #listBoxes a {
        width: 87%;
        display: block;

    }

    #listBoxes img {
        display: block;
        width: 100%;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}