#featuredBoxes, #listBoxes {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1250px;
}

/*Featured Posts*/

#featuredBoxes a{
    display: inline-flex;
    flex-direction: column;
    width: 350px;
    height: 110px;
    min-height: 110px;
    margin: 3px;
    margin-bottom: 7px;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: border 0.08s, box-shadow 0.03s;
}

#featuredBoxes div:active{
    scale: 1.03;
}

#featuredBoxes h1{
    font-size: 14pt;
}

#featuredBoxes span{
    line-height: 2;
}

#featuredBoxes h2, #featuredBoxes span{
    font-size: 11pt;
}

#featuredBoxes img{
    width: 26px;
    margin-right: 8px;
    margin-top: -3px;
    vertical-align: middle;
}

/*More Posts*/

#listBoxes a{
    display: flex;
    width: 90%;
    height: auto;
    padding: 30px 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 10px;
    text-decoration: none;
    transition: border 0.08s, box-shadow 0.03s;
}

#listBoxes div{
    flex: 1;
}

#listBoxes h1{
    font-size: 18pt;
    margin-top: -15px;
}

#listBoxes h2, #listBoxes span{
    font-size: 13pt;
    margin-bottom: 10px;
}

#listBoxes img{
    width: 190px;
    height: 100px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#featuredBoxes a:hover h1, #listBoxes a:hover h1{
    text-decoration: underline;
}

.box:hover {
    border: 1px solid var(--primary-color);
    /*box-shadow: 0 0px 8px 0 var(--primary-color); //disabled for now*/ 
}

/*In Posts*/

.blog article{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
    padding: 0px;
    max-width: 900px;
}

#blogContent{
    padding: 50px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.blog img{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imageWidthFull{
    margin-top: 0px !important;
    max-height: 350px !important;
    object-fit: cover;
}

#blogDetails img{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: -3px;
    margin-right: 5px;
}

#shareButton{
    width: 32px;
    height: 32px;
    margin: 0px;
    float: right;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}   

#shareButton:active{
    scale: 1.2;
}

#returnButton{
    display: absolute;
    position: sticky;
    top: 50px;
    padding: 10px;
    font-size: 20pt;
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
}


/*Comments*/

#HCB_comment_box{
    width: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*Comments*/

[data-theme='light'] #HCB_comment_box{
    color: black;
}

#HCB_comment_box img{
    display: none;
}

#HCB_comment_box textarea{
    resize: none;
}

#HCB_comment_box h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px !important;
    line-height: 0px;
}

#HCB_comment_box span, #HCB_comment_box a{
    font-size: 13pt;
}

.home-desc{
    display: none;
}

/*Moblin' Time*/

@media only screen and (max-width: 820px) {
    #featuredBoxes a{
        width: 100%;
        box-sizing: border-box;
        height: auto;
        min-height: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    #HCB_comment_box{
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 750px) {
    .blog article{
        width: 97%;
        padding-top: 20px;
    }

    #returnButton{
        position: absolute;
        top: 0;
        margin-top: -8px;
    }
    
    #listBoxes a {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #listBoxes img {
        display: block;
        width: 100%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}