html{
    background-color:rgb(37, 36, 36);
    color: white;
}

.box{
    opacity: 0;
    width: 90%;
    height: 90%;
    border: 2px solid gray;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    animation: divAppear 1.5s ease-in-out;
}

.main{
    font-size: calc(2.5vw + 1.0vh);
    animation: textAppear 0.5s ease-in-out;
}

.textLink {
    color: rgb(142, 142, 255);
    text-decoration: underline;
}

@keyframes divAppear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    15%{
        opacity: 1;
        width: 90%;
    }
    30% {
        transform: scale(1);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 95%;
    }
    
  }

  @keyframes textAppear {
    50% {
        font-size: 2.5vw;
    }
    75%{
        font-size: calc(2.5vw + 1.0vh);
    }
  }