body{
    background-size: cover !important;
    background-attachment: fixed !important;
}

[data-theme='dark'] body{
    background: linear-gradient(45deg, #2F2D2D 10%,transparent 10%,transparent 90%,#2F2D2D 90%),linear-gradient(135deg, transparent 40%, #2F2D2D80 40%, #2F2D2D80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #2F2D2D 40%, #2F2D2D 60%, transparent 0);
    background-size: cover;
    background-color: rgb(45, 42, 42);
}

[data-theme='light'] body{
    background: none;
}

article{
    width: 80%;
    max-width: 1600px;
    margin-top: 200px;
    box-shadow: none;
}

main{
    padding-top: 30vh;
}

/*Search Area*/

.searchLogo{
    width: 128px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.searchIcon{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    margin-top: 15px;
    opacity: 0.4;
}

input[type='search'] {
    background-color: var(--blurred-background);
    width: 725px;
    height: 55px;
    padding: 20px;
    font-size: 24px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    text-indent: 25px;
    transition: background-color 0.2s;
}

input[type='search']:hover, input[type='search']:focus {
    background-color: var(--blurred-background);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

main form input[type="submit"] {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    margin-left: -80px;
    margin-top: 5px;
    width: 75px;
    min-width: 0px;
    height: 55px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #d3d3d3;
    text-align: center;
    font-size: 20pt;
}

.searchGo:active{
    scale: 1.05;
}
 
form image{
    width: 64px;
    height: 64px;
}

#searchYouTube, #searchBing, #searchDuck, #searchReddit, #searchX {
    display: none;
}

#selectYouTube, #selectBing, #selectDuck, #selectReddit, #selectX {
    opacity: 0.7;
}

.engines{
    margin-top: 20px;
    border: 0px; 
    padding: 0px;
}

.engines button{
    margin: 3px;
}

#select{
    display: none;
}

/*Item Container and Navigation*/

.listbox{
    height: auto;
    border: 0px;
    padding: 10px;
    transition: width 0.2s, height 0.2s, border-radius 0.6s;
}

.listbox a, .engines button {
    background-color: var(--blurred-background);
}

.listbox a:hover, .engines button:hover{
    opacity: 1 !important;
}

.listbox h2{
    margin-top: 20px;
    margin-bottom: 10px
}

/*Customize Settings Area*/

.contentColor{
    background-color: var(--blurred-background);
    color: var(--text-color);
}

#customize {
    position: fixed;
    width: 120px;
    height: 40px;
    margin: 10px;
    right: 0;
    bottom: 0;
    background-color: var(--blurred-background);
    border-radius: 15px;
    border: 1px solid rgb(185, 185, 185);
    transition: width 0.3s, height 0.3s;
}

#customize span{
    font-size: 8pt;
}

#customize img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.openMenu{
    border: 1px solid rgb(185, 185, 185);
    width: 120px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    animation: customizeContentAppear 0.3s forwards;
}

#customizeList{
    display: none;
    border-radius: 15px;
    animation: customizeContentAppear 0.3s forwards;
}

#buttonCustomize{
    font-size: 10pt;
    margin: 0px;
    line-height: 2;
}

.customizeOption{
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-border);
    width: 150px;
    height: 40px;
    font-size: 10pt;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    cursor: pointer;
}

.closeList{
    width: 40px;
    height: 30px;
    font-size: 9pt;
    margin-top: 5px;
    border: 1px solid var(--secondary-border);
    border-radius: 15px;
    cursor: pointer;
}

#test{
    display: none;
}

#quickLinks li {
    display: inline-block;
}

#quickLinks button{
    position: absolute;
    background: none;
    border: none;
    display: none;
    color: white;
    font-size: 12pt;
    margin-left: 8px;
    margin-top: -20px;
}

#quickLinks li:hover button{
    position: absolute;
    display: inline-flex;
}

/*It's Moblin' Time*/

@media only screen and (min-width: 800px){
    nav{
        background-color: transparent;
        box-shadow: none;
        backdrop-filter: blur(0px);
    }
}

@media only screen and (max-width: 800px) {
    main{
        padding-top: 30vh;
    }

    input[type='search']{
        width: 90%;
    }

    input[type='search'], main form input[type="submit"]{
        height: 50px;
    }

    input[type='search']{
        font-size: 3.5vw;
    }

    .searchLogo{
        padding: 0px;
        width: 100px;
        margin-bottom: 10px;
    }

    .searchText{
        font-size: 26pt;
    }

    #customize {
        top: 0;
    }

    .listbox a {
        font-size: 14pt;
    }
}

/*Animations*/

@keyframes customizeContentAppear {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}