hr{
    width: 95%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-width: 1px;
    border-style: solid;
}

h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    margin: 5px;
}

#pageSettings{
    width: 90%;
    max-width: 1500px;
    height: 85%;
    position: absolute; 
    margin: auto;
    left: 0; 
    right: 0; 
    justify-content: center;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#menuButtons{
    background-color: var(--quartary-color);
    border: 1px solid var(--primary-border);
    margin-top: 10px;
    margin-left: 10px;
    width: 17%;
    border-radius: 10px;
    height: 98%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

#menuButtons img {
    margin-top: -3px;
    width: 36px;
    height: 36px;
}

#menuButtons button span{
    font-size: 14pt;
    margin-left: 5px;
}

#menuButtons button{
    background: none;
    width: 90%;
    height: 50px;
    padding: 10px;
    margin: 5px;
    margin-left: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    text-align: left;
    transition: background-color 0.15s;
}

#menuButtons button:hover{
    background-color: var(--primary-color);
}

#menuContent{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 100%;
    border-radius: 10px;
    height: 98%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: hidden;
}

@keyframes switchPage {
    0% {
        opacity: 0;
        transform: scale(0.93);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

.settingPage{
    display: none;
    animation: switchPage 0.5s forwards;
}

#settingHome{
    display: block;
}

#settingCredits img{
    border-radius: 0px;
    width: 32px;
    height: auto;
}

/*Content on the Screens*/

.featuredRow td{
    display: inline-block;
}

.featuredRow button{
    background: var(--blurred-background);
    border: 1px solid var(--tertiary-color);
}

.featuredRow{
    margin-left: auto;
    margin-right: auto;
}

.featuredBox{
    width: 200px;
    height: 100px;
    background-color: var(--quartary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Theming Button*/

.box{
    background-color: var(--primary-background);
}   


.lightBox{
    background-color: var(--primary-background);
}   


table tr{
    border: var(--primary-border);
}

table td{
    border: none;
}


/*It's Mobilin' Time*/
@media only screen and (max-width: 1350px) {
    #menuButtons button span{
        font-size: 12pt;
    }

    #menuButtons img{
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
}

@media only screen and (max-width: 1150px) {
    .menuContent{
        width: 78%;
    }

    #menuButtons{
        margin-left: 2%;
        width: 14%;
    }

    #menuButtons button{
        display: inline-flex;
        text-align: center;
    }

    #menuButtons img{
        width: 36px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5px;
    }

    #menuButtons span{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    main{
        padding-top: 15px;
    }

    #pageSettings{
        width: 100%;
        height: calc(100vh - 55px);
        border: 0px;
    }

    #menuContent button{
        width: 100%;
    }

    h2{
        text-align: center;
    }

}

@media only screen and (max-width: 450px) {
    #menuButtons img{
        width: 22px;
        height: 22px;
        border-radius: 0px;
        margin-top: 3px;
    }
}