/*=-=-=-=-=-=-=-=-= Main Styles =-=-=-=-=-=-=-=-=*/
html{
    scroll-behavior: smooth;
    min-height: 100%;
    cursor: url('../media/cursor.png'), auto;
}

body {
    margin: 0 auto;
    background: var(--page-wallpaper);
    background-size: var(--wallpaper-size);
    background-position: center;
    background-color: var(--page-background);
}

[data-theme='dark'] #lobby {
    background: linear-gradient(45deg, rgb(224, 127, 85), rgb(121, 97, 177));
}

.divider{
    display: block;
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    line-height: 1.3;
    margin: 20px;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

[data-theme='light'] .divider{
    background-color: rgb(245, 245, 245);
}

main{
    height: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    transition: scale 0.2s;
    animation: appearOpacityDelayed 0.3s forwards;
}

.fadeOut{
    animation: appearOpacity 0.15s forwards;
}

.fadeIn{
    animation: disappearOpacity 0.3s forwards;
}

article{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    width: 95%;
    max-width: 1500px;
    height: auto;
    transition: width 0.2s, height 0.2s, border-radius 0.6s;
    animation: slideDownTo 0.7s forwards;
}

[data-theme='dark'] .contentTransparent article {
    background-color: rgb(42, 40, 40, 0.5);
}

.contentTransparent .columnContainer article {
    background-color: rgb(42, 40, 40, 0);
    box-shadow: none;
}

article article{
    box-shadow: none;
    padding-top: 0px;
}

hr {
    border: 1px solid var(--secondary-border);
}

/*Content containers*/
.box, .blog article {
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 3px rgba(0,0,0,0.2);
}

/*=-=-=-=-=-=-= ( Universal Themes ) =-=-=-=-=-=-=*/

:root{
    --page-background: rgb(45, 42, 42);
    --page-wallpaper: linear-gradient(45deg, #2F2D2D 10%,transparent 10%,transparent 90%,#2F2D2D 90%),linear-gradient(135deg, transparent 40%, #2F2D2D80 40%, #2F2D2D80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #2F2D2D 40%, #2F2D2D 60%, transparent 0);
    --wallpaper-size: 44em 44em;
    --text-color: rgb(245, 245, 245);

    --primary-background: rgb(43, 40, 40);
    --secondary-background: rgb(96, 92, 92);
    --tertiary-background: rgb(82, 79, 79);

    --blurred-background: rgb(59, 57, 57, 0.7);
    --blurred-attribute: blur(25px);

    --primary-color: rgb(246, 151, 151); 
    --secondary-color: rgb(252, 100, 100);
    --tertiary-color: rgb(100, 71, 71);

    --primary-border: rgb(88, 86, 86);
    --secondary-border: rgb(117, 117, 117);
}

[data-theme='light'] {
    --page-background: rgb(235, 235, 235);
    --page-wallpaper: url('../media/backgrounds/lightmode.webp') center;
    --wallpaper-size: 400px;
    --text-color: rgb(51, 51, 51);

    --primary-background: rgb(235, 235, 235);
    --secondary-background: rgb(235, 235, 235);
    --tertiary-background: rgb(240, 240, 240);
    --blurred-background: rgb(235, 235, 235, 1);
    --blurred-attribute: blur(0px);

    --primary-color: rgb(248, 135, 135); 
    --secondary-color: rgb(255, 79, 79);
    --tertiary-color: #f0e6e6;

    --primary-border: #c3c3c3;
    --secondary-border: #c3c3c3;
}

[data-theme='oled'] {
    --page-background: rgb(0, 0, 0);
    --page-wallpaper: none;

    --primary-background: rgb(15, 15, 15);
    --secondary-background: rgb(15, 15, 15);
    --tertiary-background: rgb(15, 15, 15);

    --primary-color: rgb(199, 120, 120); 
    --secondary-color: rgb(219, 76, 76);
    --tertiary-color: rgb(79, 57, 57);

    --blurred-background: rgb(25, 25, 25, 0.8);
}

[data-theme='blue'] {
    --page-background: rgb(23, 30, 39);
    --page-wallpaper: none;
    --text-color: rgb(226, 229, 255);

    --primary-background: rgb(29, 41, 57);
    --secondary-background: rgb(29, 42, 53);
    --tertiary-background: rgb(29, 42, 53);
    --blurred-background: rgb(28, 42, 53, 0.8);

    --primary-color: rgb(106, 156, 186); 
    --secondary-color: rgb(86, 142, 185);
    --tertiary-color: rgb(58, 60, 83);

    --primary-border: rgb(46, 48, 79);
    --secondary-border: rgb(76, 75, 100);
}


[data-theme='red'] {
    --page-background: rgb(132, 90, 90);
    --page-wallpaper: none;
    --text-color: rgb(255, 226, 226);

    --primary-background: rgb(111, 70, 70);
    --secondary-background: rgb(142, 96, 96);
    --tertiary-background: rgb(120, 74, 74);
    --blurred-background: rgb(84, 55, 55);
    --blurred-attribute: blur(0px);
    
    --tertiary-color: rgb(105, 67, 67);

    --primary-border: rgb(87, 65, 65);
    --secondary-border: rgb(163, 123, 123);
}


[data-theme='twilight'] {
    --page-background: rgb(171, 103, 103);
    --page-wallpaper: linear-gradient(45deg, rgb(224, 127, 85), rgb(121, 97, 177));
    --wallpaper-size: cover;
}

[data-theme='twilight'], [data-theme='rgb'] {
    --primary-background: rgb(45, 40, 40, 0.5);
    --secondary-background: rgb(105, 102, 102);
    --tertiary-background: rgb(45, 40, 40, 0.5);
    --blurred-background: rgb(45, 40, 40, 0.5);
    --secondary-color: rgb(245, 245, 245);
    --tertiary-color: rgba(45, 40, 40, 0.3);
}

[data-theme='rgb'] {
    --page-wallpaper: none;
}

[data-theme='rgb'] body{
    animation: rainbow-bg 4.5s linear infinite;
}

[data-theme='dark'] #themeButtonDark,
[data-theme='light'] #themeButtonLight,
[data-theme='red'] #themeButtonRed,
[data-theme='blue'] #themeButtonBlue,
[data-theme='oled'] #themeButtonOLED,
[data-theme='twilight'] #themeButtonTwilight,
[data-theme='rgb'] #themeButtonRGB{
    border: 1px solid var(--primary-color);
}

/*=-=-=-=-=-=-=-=- ( Elements ) -=-=-=-=-=-=-=-=*/

span, .text, a, input, h1, h2, h3, p, li, hover-text, button, table{
    color: var(--text-color);
    font-family: 'Segoe UI', Arial, sans-serif;
    word-break: break-word;
    line-height: 1.5;
} 

span::selection, h1::selection, h2::selection, p::selection, li::selection{
    background-color: var(--primary-color);
}

span, .text, li, p, hover-text{
    font-size: 1.2rem;
}

h1, h2, h3{
    margin: 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
    font-weight: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

.vertical{
    vertical-align: middle;
}

#pageTitle{
    font-size: 38pt;
    margin-bottom: 30px;
    text-align: center;
    animation: appearOpacity 1s forwards;
}

img {
    border-radius: 10px;
}

.rounded{
    border-radius: 50%;
}

.invert{
    filter: invert(1);
}

[data-theme='light'] .invert{
    filter: invert(0);
}

.rotate:hover{
    transform: rotate(360deg);
}

video {
    width: auto;
    height: auto;
    border-radius: 10px;
}

#startHidden{
    display: none;
}

/*=-=-=-=-=-=-=-=-= Navigation =-=-=-=-=-=-=-=-=*/

nav{
    background-color: var(--blurred-background);
    backdrop-filter: var(--blurred-attribute);   
    -webkit-backdrop-filter: blur(35px);
    position: fixed;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    z-index: 5;
    transition: height 0.15s, border-radius 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}   

.siteName{
    background: transparent;
    border-radius: 5px;
    border: 0px;
    font-size: 14pt;
    float: left;
    width: fit-content;
    height: 40px;
    margin: 0px;
    padding: 0px 5px;
    margin-top: 8px;
    min-width: 60px;
    cursor: pointer;
    transition: background-color 0.15s, margin-left 0.15s, min-width 0.15s, font-size 0.3s, padding 0.3s, margin-top 0.3s, color 0.4s;
}

.siteName span{
    pointer-events: none; 
}

.siteName:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 30px;
    padding-right: 2px;
    border-right: 2px solid gray;
}

.siteName:hover{
    border: 0px;
    padding-left: 25px;
}

.siteName:hover .iconTypeList{
    opacity: 1;
    scale: 1;
}

#linkContainer a{
    text-align: center;
    float: left;
    text-decoration: none;
    list-style-type: none;
    height: 30px;
    min-width: 30px;
    padding: 0px 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 11px;
    font-size: 16pt;
    border-radius: 5px;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
    font-family: 'Segoe UI', Arial, sans-serif;
}   

#linkContainer a:hover, .siteName:hover{
    background-color: var(--primary-color);
}

#linkContainer a.active{
    color: var(--secondary-color); 
    text-decoration: underline;
}  

#linkContainer a.active:hover{
    background-color: var(--primary-color);
    color: rgb(255, 255, 255) !important; 
}

#linkContainer h2{
    text-align: center;
}

.spaceName{
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: -15px;
}

/*Start of Mobile Support*/
#navToggle{
    display: none;
    background: rgba(235, 235, 235, 0.8) url('../media/images/navburger.png') no-repeat center;
    border: 1px var(--primary-border) solid;
    width: 50px;
    height: 40px;
    margin-left: 8px;
    border-radius: 10px;
    background-size: 40px;
    float: left;
    position: absolute;
    left: 0;
    margin-top: 7px;
}

#navToggle:hover{
    background-color: var(--primary-color);
}

.navCenter{
    position: fixed;
    left: calc((100% - 50px) / 2);
}

#myDropdown img, .spaceNavIcon{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

/*Nav Icon Zone*/
.navIcon[type=checkbox] { /* hides checkbox */
    height: 0;
    width: 0;
    visibility: hidden;
}

.navIcon{ /* generic icon dimensions */
    width: 34px;
    height: 34px;
    float: right;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 10px;
    transition: transform 0.7s ease-in-out;
}

.iconLeft{
    float: left;
}

.iconTypeTheme{
    background-size: 100%;
    background-image: url('../media/icons/nav/themeLight.png');
    background-repeat: no-repeat;
}

[data-theme='dark'] .iconTypeTheme, [data-theme='oled'] .iconTypeTheme, [data-theme='blue'] .iconTypeTheme{
    background-image: url('../media/icons/nav/themeDark.png');
}

.iconTypeList{
    display: inline-block;
    opacity: 0;
    scale: 0;
    margin: auto;
    margin-left: -20px;
    margin-top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    background-size: 100%;
    transition: margin-left 0.2s, opacity 0.2s, scale 0.2s;
}

#leavingPage{
    background-color: var(--page-background);
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: auto;
    display: block;
    z-index: -10;
    pointer-events: none;
}

#themeMenu {
    background-color: var(--blurred-background);
    backdrop-filter: var(--blurred-attribute);
    -webkit-backdrop-filter: blur(35px);
    border: 1px solid var(--secondary-border);
    display: none;
    position: fixed;
    width: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 0;
    margin-right: 10px;
    margin-top: 56px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

#themeMenu button{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

/*=-=-=-=-=-=-=-=-= Formatting =-=-=-=-=-=-=-=-=*/

.flexArea {
    display: flex;
    flex-direction: row;
}

.flexOne {
    flex: 1;
}

.columnContainer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    max-width: 1300px;
}

.columnContainer article{
    margin-left: 10px auto;
    margin-right: 10px auto; 
    height: auto;
    border: 0px;
}

div article{
    width: 100%;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

/*=-=-=-=-=-=-=-=-= Modals =-=-=-=-=-=-=-=-=*/

#imageViewer {
    display: none;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

#imageViewer, #imageBackdrop, #imageDisplay{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

#imageBackdrop, #imageDisplay{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#imageBackdrop {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: blur(150px) brightness(0.7);
  }

#imageDisplay {
    margin-top: 10vh;
    width: 80vw;
    height: 80vh;
    background-size: contain;
}

#imageViewer h2 {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.viewable{
    cursor: pointer;
    transition: box-shadow 0.2s;
}

/*Thanks to https://stackoverflow.com/questions/40645032/creating-multiple-modals-on-a-single-page*/
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.modal-header {
    background-color: var(--primary-color);
    padding: 4px 16px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body {
    padding: 12px 16px;
}

.modal-content {
    background-color: var(--primary-background);
    border: 3px solid var(--primary-color);
    margin: auto;
    padding: 0;
    border-radius: 20px;
    width: 95%;
    height: max-content;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16pt;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
}

.close:hover {
    color: var(--primary-background);
    text-decoration: none;
    cursor: pointer;
}

/*=-=-=-=-=-=-= UI Components -=-=-=-=-=-=-=*/

/*Buttons*/
button, .modalButton{
    background-color: var(--tertiary-background);
    border: 1px solid var(--secondary-border);
    font-size: 14pt;
    margin: 5px;
    padding: 8px 8px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.15s, border-color 0.15s;
}

button:hover, .modalButton:hover{
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
}

button:active, a:active, .modalButton:active, .viewable:active, .navIcon:active{
    scale: 1.05;
    transition: scale 0.05s;
}

button img, .modalButton img{
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 3px;
    border-radius: 0px;
}

/*Forms*/
form input, form button[type=submit]{
    background-color: var(--secondary-background);
    border: 2px solid var(--primary-color);
    color: white;
    font-size: 20pt;
}
 
form input:hover, form input:focus {
    background-color: var(--tertiary-color);
}

form input {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-align: left;
    transition: width 0.2s;
    width: 50%;
    min-width: 250px;
}

form input[type=submit] {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
    min-width: 100px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

form button[type=submit]:hover {
    border: 2px solid white;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

/*Listbox*/
.listbox {
    margin-bottom: 20px;
}

.listbox a, .engines button{
    text-align: left;
    padding: 1px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 0px;
    border-bottom: 1px solid rgb(87, 87, 87); 
    text-decoration: none;
    font-size: 18pt;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.listbox a:active, .engines button{
    margin-top: -3px;
}

.listbox a:hover, .engines button:hover{
    background-color: rgb(246, 151, 151);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

/*Tables*/
table {
    background-color: var(--tertiary-background);
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

tr:nth-child(even) {
    background-color: #8a8a8a17;
}

[data-theme='light'] tr:nth-child(even) {
    background-color: #9090900d;
}

td{
    border: 1px solid var(--secondary-border);
    width: fit-content;
    min-width: 100px;
    padding: 10px;
}

/*Code Blocks*/
pre{
    background-color: var(--tertiary-background);
    border: 1px solid var(--secondary-border);
    display: block;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
}

code, code span{
    display: inline-block;
    font-size: 12pt;
    white-space: no-wrap;
    color: var(--text-color);
    font-family: 'Monaco', monospace;
    letter-spacing: -0.05em;
}

code .comment { color: rgb(90, 160, 90); }

code .green { color: rgb(86, 195, 86); }

code .purple { color: rgb(209, 98, 209); }

code .sky { color: rgb(139, 201, 242); }

code .blue { color: rgb(98, 164, 239); }

code .yellow { color: rgb(240, 226, 134); }

code .gold { color: rgb(255, 225, 76); }

code .orange { color: rgb(255, 177, 134); }

/*Hovertext*/
.hoverText{
    position: relative;
}

.hoverText hover-text {
    background-color: var(--secondary-background);
    border: 1px solid var(--secondary-border);
    position: absolute;
    margin: auto;
    margin-top: -20px;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
    font-size: 12pt;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0px;
    z-index: 1;
    transition: padding 0.2s, margin 0.2s, visibility 0.2s, opacity 0.2s;
    pointer-events: none;
    user-select: none;
}
  
.hoverText:hover hover-text {
    visibility: visible;
    padding: 8px 10px;
    opacity: 1;
    margin-top: -45px;
}

hover-text::after {
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.slideUp hover-text::after{
    top: 100%;
    border-color: var(--secondary-border) transparent transparent transparent;
}

.slideDown:hover hover-text{
    margin-top: 45px;
}

.slideDown hover-text::after {
    bottom: 100%;
    border-color: transparent transparent var(--secondary-border) transparent;
}

hover-text img{
    width: 32px;
}

/*=-=-=-=-=-=-=-=- ( Box Components ) -=-=-=-=-=-=-=-=*/

.bubbleList{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
  
.bubbleList div{
    display: inline-block;
    width: 23%;
    background-color: rgba(241, 142, 92, 0.1);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    margin: 10px;
    text-align: left;
    transition: width 0.2s, font-size 0.2s;
}

.bubbleList p{
    font-size: 1rem;
    margin: 15px;
    margin-top: 2px;
}

.bubbleList span{
    display: block;
    font-size: 1.1rem;
    padding-left: 5px;
    border-radius: 15px;
    line-height: 1.5;
    margin: 10px;
}

.homeSpace a{
    background-color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    height: auto;
    border-radius: 15px;
    font-size: 14pt;
    margin: 5px;
    padding: 7px 10px;
    cursor: pointer;
    user-select: none;
}

.homeSpace img{
    margin-right: 5px;
    width: 26px;
    height: 26px;
    border-radius: 0px;
}
  
/*=-=-=-=-=-=-=-=- ( Home Design ) -=-=-=-=-=-=-=-=*/

#bannerContainer{
    animation: bannerReveal 0.75s forwards;
}

#bannerMain{
    height: 400px;
    border-bottom: 3px solid #d3d3d3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    /*Patch for weird padding bug*/
    margin-top: -70px;
    margin-bottom: 20px;
}

.mainImage{
  width: 64px;
  height: auto;
  padding: 10px;
  margin-top: -20px;
  transition: transform 0.2s;
}

.mainNote{
    font-size: 11pt;
}

.mainText{
    font-size: 40pt;
    font-weight: bold; 
}

.bannerContent{
    margin: auto;
    position: absolute; 
    left: 0; 
    right: 0;
    margin-top: 90px;
}

.bannerContent span, .bannerContent h2{
    color: white;
}

.bannerButton{
    background-color: var(--blurred-background);
    backdrop-filter: var(--blurred-attribute);   
    -webkit-backdrop-filter: var(--blurred-attribute);
    color: var(--primary-color);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 30%;
    max-width: 200px;
    min-width: 175px;
    height: 70px;
    border: 4px solid #d3d3d3;
    border-radius: 20px;
    font-size: 18pt;
    transition: font-size 0.2s, background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.bannerButtonAnimate{
    margin-top: -105px;
    animation: clickMeHome 2s infinite;  
}

.bannerButton:hover{
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 20pt;
}

/*=-=-=-=-=-=-=- ( Special Loader ) -=-=-=-=-=-=-=*/
/*Thanks to https://cssloaders.github.io*/

#pageLoader{
    display: block;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader {
    display: block;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: -.4s;
}

/*=-=-=-=-=-=-=- ( It's Mobilin' Time ) -=-=-=-=-=-=-=*/
@media only screen and (min-width: 800px) {
    body{
        background-attachment: fixed;
    }

    .onMobile{
        display: none;
        visibility: hidden;
    }

    [data-theme='dark'] .movingBG {
        animation: backgroundMove 30s linear infinite;
    }

    #linkContainer a:nth-child(2) { 
        margin-left: 10px;
    }

    #myDropdown{
        background-color: var(--secondary-background);
        border: 1px solid var(--secondary-border);
        display: none;
        position: absolute;
        width: 250px;
        height: auto;
        margin-top: 56px;
        padding-top: 5px;
        padding-bottom: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 3;
    }

    #myDropdown a {
        width: 88%;
        display: flex;
        margin-top: 5px;
        margin-left: 5px;
        padding: 5px 10px;
    }
    
    #myDropdown img {
        margin-right: 15px;
    }

    #myDropdown h2 {
        border-top: 1px solid var(--secondary-border);
        border-bottom: 1px solid var(--secondary-border);
        padding: 2px;
    }    

    .dedicatedPage{
        float: right !important; 
        margin-right: 8px !important;
    }
    
    .flexRightSide{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .onMobile{
        display: block;
    }

    .offMobile{
        display: none;
        visibility: hidden;
    }

    .centeredMobile {
        text-align: center;
    }

    main{
        padding-top: 5px;
        margin-top: -15px;
        padding-bottom: 75px;
    }

    article{
        margin-top: 20px;
        margin-bottom: 0px;
        width: 95%;
        border-radius: 10px;
    }

    .flexArea{
        display: block;
    }
    
    .modal-content{
        bottom: 70px;
        top: 0px;
    }

    .mobileCenter{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: calc((100% - 30px) / 2);
    }

    nav {
        bottom: 0;
        border-top: 1px solid var(--secondary-border);
    }

    #navToggle{
        display: block;
    }

    #linkContainer{
        width: 100%;
        height: auto;
        margin-top: 61px;
        padding-top: 5px;
        border-top: 1px solid var(--secondary-border);
        overflow-y: auto;
    }

    #linkContainer a{
        display: inline-flex;
        width: auto;
        margin: auto;
        text-align: center;
        padding: 10px;
        padding-top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20pt;
        border: 2px solid rgb(209, 209, 209);
        margin-left: 10px;
        border-radius: 7px;
    }

    #myDropdown {
        display: block !important;
        animation: none !important;
        position: relative;
        background: transparent;
        opacity: 1;
        scale: 1;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        overflow-x: hidden;
    }

    #myDropdown a{
        background-color: var(--tertiary-background);
        font-size: 0px;
        width: 54px;
        height: 54px;
        padding: 0px;
        border-radius: 50%;
        border-width: 0px;
    }

    #myDropdown img{
        width: 42px;
        height: 42px;
        margin: auto;
    }

    #myDropdown .active{
        border-width: 2px;
    }

    #themeMenu {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        bottom: 54px;
    }

    .columnContainer {
        background-color: rgba(95, 141, 55, 0);
        width: 100%;
        display: inline-block;
        border: 0px;
        margin-top: 0px;
        padding: 0px;
    }

    .columnContainer article{
        width: 95%;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #form{
        text-align: center;
    }

    #imageDisplay{
        margin-top: 5vh;
        width: 100vw;
    }

    .listbox a, .engines button{
        margin: 2px;
        font-size: 16pt;
    }

    #bannerMain{
        height: 325px;
        margin-top: -10px;
    }

    .bannerContent{
        margin-top: 60px;
    }

    .bubbleList {
        display: block;
        align-items: center;
    }
    
    .bubbleList div {
        width: 95%;
    }    
}

@media only screen and (max-width: 500px) {
    .mainText{
        font-size: 9vw;
    }

    .mainImage{
        width: 64px;
        height: 64px;
        margin-top: -3vw;
    }
      
    .bannerContent h1{
        font-size: 5vw;
    }
}

/*=-=-=-=-=-=-=-=- ( Animations ) -=-=-=-=-=-=-=-=*/

@keyframes backgroundMove {
    0% { background-position: 0px 0px; } 
    100% { background-position: 705px 705px; }
}

@keyframes appearOpacity {
    0% {  opacity: 0; }
    100% { opacity: 1; }
}

@keyframes disappearOpacity {
    0% { opacity: 1; }
    15% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes appearOpacityDelayed {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes appearScale {
    0% {  transform: scale(0.5); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes disappearScale {
    0% {  transform: scale(1); }
    100% { transform: scale(0.5); }
}

@keyframes slideDownBelow {
    0% { transform: translateY(-20px); opacity: 0; scale: 0.8; }
    100% { transform: translateY(0px); opacity: 1; scale: 1; }
}

@keyframes slideUpAbove {
    0% { transform: translateY(0px); opacity: 1; scale: 1; }
    100% { transform: translateY(-20px); opacity: 0; scale: 0.8; }
}

@keyframes bannerReveal {
    0% { opacity: 0; transform: translateY(-50px); scale: 0.9; }
    5%{ opacity: 0; }
    50%{ opacity: 1; transform: translateY(3px); }
    100% { transform: translateY(0px); scale: 1; }
}
    
  @keyframes clickMeHome {
    0% { margin-top: -105px; }
    50% { margin-top: -110px; }
    100% { margin-top: -105px; }
}

@keyframes spin {
    0%, 100% { box-shadow: .2em 0px 0 0px currentcolor; } 
    12% { box-shadow: .2em .2em 0 0 currentcolor; }
    25% { box-shadow: 0 .2em 0 0px currentcolor; }
    37% { box-shadow: -.2em .2em 0 0 currentcolor; }
    50% { box-shadow: -.2em 0 0 0 currentcolor; }
    62% { box-shadow: -.2em -.2em 0 0 currentcolor; }
    75% { box-shadow: 0px -.2em 0 0 currentcolor; }
    87% { box-shadow: .2em -.2em 0 0 currentcolor; }
}

.shake {
    animation: shake 0.1s forwards;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes rainbow-bg{
    0%, 100% { background-color: rgba(255, 0, 0, 0.3); }
    8%{ background-color: rgb(255,127,0, 0.3); }
    16%{ background-color: rgb(255,255,0, 0.3); }
    25%{ background-color: rgb(127,255,0, 0.3); }
    33%{ background-color: rgb(0,255,0, 0.3); }
    41%{ background-color: rgb(0,255,127, 0.3); }
    50%{ background-color: rgb(0,255,255, 0.3); }
    58%{ background-color: rgb(0,127,255, 0.3); }
    66%{ background-color: rgb(0,0,255, 0.3); }
    75%{ background-color: rgb(127,0,255, 0.3); }
    83%{ background-color: rgb(255,0,255, 0.3); }
    91%{ background-color: rgb(255,0,127, 0.3); }
}

/*=-=-=-=-=-=-=-=-= Accessibility =-=-=-=-=-=-=-=-=*/

@media (prefers-reduced-motion) {
    html, body{
        scroll-behavior: none;
    }

    main, article, #myDropdown, .fadeOut, .fadeIn, #bannerContainer, .bannerButton,
    #imageViewer, #imageBackdrop, #imageDisplay, .modal-content{
        animation-duration: 0s;
    }

    article, #navbox, .siteName, .iconTypeList,
   .homeSpace a, #linkContainer, #linkContainer a, .listbox, .listbox li a, .modalButton {
        transition-duration: 0s;
    } 
    
    .bannerButtonAnimate{
        margin-top: -120px;
    }
}