/*=-=-=-=-=-=-=-=-= Main Styles =-=-=-=-=-=-=-=-=*/
html{
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    margin: 0 auto;
    background: linear-gradient(45deg, #2F2D2D 10%,transparent 10%,transparent 90%,#2F2D2D 90%),linear-gradient(135deg, transparent 40%, #2F2D2D80 40%, #2F2D2D80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #2F2D2D 40%, #2F2D2D 60%, transparent 0);
    background-size: 4em 4em;
    background-color:rgb(44, 40, 40);
}

[data-theme='light'] body {
    background: url('../media/backgrounds/lightmode.webp') center no-repeat;
    background-size: 2800px;
    background-color: rgb(235, 235, 235);
}

.divider{
    display: block;
    background-color:rgb(117, 117, 117, 0.2);
    width: 90%;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.5s;
}

[data-theme='light'] .divider{
    background-color: rgb(245, 245, 245);
}

main{
    animation: pageMoveIn 0.5s forwards;
}

#page{
    padding-bottom: 30px;
}

[data-theme='dark'] #lobby {
    background: linear-gradient(45deg, rgb(224, 127, 85), rgb(121, 97, 177));
}

article{
    background-color:rgb(42, 40, 40);
    border: 2px solid #888282;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px;
    width:93%;
    max-width: 2000px;
    height: auto;
    transition: width 0.2s, height 0.2s, border-radius 0.6s, background-color 0.5s;
    animation: pageEntryway 1s forwards;
    box-shadow: 0px 8px 16px 3px rgba(0,0,0,0.2);

}

article article{
    box-shadow: none;
}

.contentClear article {
    background-color: rgb(42, 40, 40, 0);
    border: 0px;
}

.contentClear .columnContainer article {
    background-color: rgb(42, 40, 40, 0);
}

.contentTransparent article {
    background-color: rgb(42, 40, 40, 0.5);
    border: 1px solid rgb(97, 95, 95);
}

.contentTransparent .columnContainer article {
    background-color: rgb(42, 40, 40, 0);
}

[data-theme='light'] article{
    background-color: rgb(235, 235, 235);
    border: 2px solid #d3d3d3;
}


/*=-=-=-=-=-=-=-=- ( Elements ) -=-=-=-=-=-=-=-=*/

span, .text, a, input, h1, h2, p, li{
    font-family: 'Segoe UI', Arial, sans-serif;
    word-break: break-word;
    transition: color 0.5s;
    color: rgb(245, 245, 245);
} 

span::selection, h1::selection, h2::selection, p::selection, li::selection{
    background-color: rgb(246, 151, 151);
}

span, .text, h2, li{
    font-size: 16pt;
}

[data-theme='light'] span, [data-theme='light'] .text, [data-theme='light'] a, [data-theme='light'] input, [data-theme='light'] h1, [data-theme='light'] h2, [data-theme='light'] p, [data-theme='light'] li {
    color:rgb(51, 51, 51);
}

h1, h2{
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 26pt;
}

.centered {
    text-align: center;
}

.vertical{
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.red {
    color: #bb3e00;
}

img {
    border-radius: 10px;
}

.rounded{
    border-radius: 50%;
}

.medium{
    max-width: 30%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.rotate:hover{
    transform: rotate(360deg);
}

.centerTable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invert{
    filter: invert(1);
}

[data-theme='light'] .invert{
    filter: invert(0);
}


/*=-=-=-=-=-=-=-=-= Navigation =-=-=-=-=-=-=-=-=*/

nav{
    background: transparent;
    height: 60px;
    width: 100%;
    position: fixed;
    margin: auto;
    padding: 0;
    left: 0; 
    right: 0;
    z-index: 4;
    transition: background-color 0.3s, backdrop-filter 0.1s, width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s, margin-bottom 0.2s, border-radius 0.3s, padding 0.2s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}   

[data-theme='light'] nav{
    background-color: rgb(235, 235, 235);
}

[data-theme='dark'] nav{
    background-color: rgb(59, 57, 57, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

#linkContainer a{
    text-align: center;
    float: left;
    text-decoration: none;
    list-style-type: none;
    height: 30px;
    min-width: 60px;
    padding: 0px 3px;
    margin-top: 15px;
    font-size: 16pt;
    transition: min-width 0.3s, font-size 0.3s, padding 0.3s, margin-top 0.3s, color 0.4s, transform 0.3s, height 0.3s;
    cursor: pointer;
    font-family: 'Segoe UI', Arial, sans-serif;
}   

#linkContainer a:hover{
    background-color: rgb(246, 151, 151);
}

#linkContainer a.active{
    color: rgb(252, 100, 100) !important; 
    text-decoration: underline;
}  

#linkContainer a.active:hover{
    color: rgb(255, 255, 255) !important; 
}

.siteName{
    background: transparent;
    border-radius: 5px;
    border: 0px;
    font-size: 14pt;
    float: left;
    width: fit-content;
    height: 40px;
    margin: 5px;
    margin-top: 10px;
    min-width: 60px;
    cursor: pointer;
    transition: background-color 0.2s, min-width 0.3s, font-size 0.3s, padding 0.3s, margin-top 0.3s, color 0.4s;
}
.siteName span{
    margin-left: 20px;
    pointer-events: none; 
}

.siteName:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 35px;
    border-right: 2px solid gray;
}

.spaceName{
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: -13px
}

.siteName:hover{
    background-color: rgb(246, 151, 151);
}

nav a:active, .siteName:active{
    scale: 1.1;
}

/*Start of Mobile Support*/
#navToggle{
    display: none;
    background: rgb(235, 235, 235) url('../media/images/navburger.png') no-repeat center;
    width: 50px;
    height: 40px;
    margin-left: 3px;
    border-radius: 10px;
    border: 2px rgb(163, 163, 163) solid;
    background-size: 40px;
    float:left;
    position: absolute;
    left: 0;
    margin-top: 10px;
    transition: margin-top 0.5s;
}

#navToggle:hover{
    background-color: rgb(246, 151, 151);
}

.navCenter{
    position: fixed;
    left: calc((100% - 50px) / 2);
}

.dropdown-content img, .spaceNavIcon{
    width: 32px;
    height: 32px;
}

/*Nav Icon Zone*/
.navIcon[type=checkbox] { /* hides checkbox */
    height: 0;
    width: 0;
    visibility: hidden;
}

.navIcon{ /* generic icon dimensions */
    width: 34px;
    height: 34px;
    float: right;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 12px;
    transition: transform 0.7s ease-in-out;
}

.navIcon:hover{
    scale: 1.1;
    cursor: pointer;
}

.navIcon:active{
    scale: 1.3;
}

.iconLeft{
    float: left;
}

.iconTypeTheme{
    background-size: 100%;
    background-image: url('../media/icons/nav/themeLight.png');
    background-repeat: no-repeat;
}

[data-theme='dark'] .iconTypeTheme{
    background-image: url('../media/icons/nav/themeDark.png');
}

.iconTypeList{
    display: block;
    float: left;
    position: absolute;
    margin-top: 8px;
    margin-left: 0px;
    width: 16px;
    height: 16px;
    background-size: 100%;
}

/*Dropdown Menu*/
.sectionDivider{
    display: inline-block;
    border-right: 2px solid gray;
    width: 0px;
    height: 60px;
}

.dropdown-content {
    margin-top: 60px;
    margin-left: 20px;
    padding-bottom: 10px;
    display: none;
    position: absolute;
    width: 200px;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/*Go to top of page*/

#buttonTop{
    background-color: rgba(53, 40, 40, 0.7);
    color: #ffd7d7;
    border: 2px solid #bb3e005d;
    float: right;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: -100px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: margin-right 0.2s, border-radius 0.1s, width 0.1s, padding-left 0.1s, right 0.1s;
    cursor: pointer;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

[data-theme='light'] #buttonTop {
    background-color: rgba(202, 202, 202, 0.75);
    color: #383838;
}
  
#buttonTop:hover{
    background-color: rgb(246, 151, 151);
}

#buttonTop:active{
    border-radius: 35px;
    width: 100px;
    padding-left: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    right: -58px;
}

#buttonTop:after{
    content:'Top';
}

#buttonTop:active:after{
    padding-right: 50px;
    content:'^';
    font-size: 30pt;
}

@media only screen and (min-width: 800px) {
    [data-theme='dark'] #navbox.transparency {
        background-color: rgba(59, 57, 57, 0.0);
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
        box-shadow: none;
    }

    [data-theme='dark'] .blur {
        background-color: rgba(59, 57, 57, 0.7) !important;
        -webkit-backdrop-filter: blur(25px) !important;
        backdrop-filter: blur(25px) !important;
    }

    #myDropdown{
        position: fixed;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #f7ad45;
        animation: menuMoveIn 0.2s forwards;
    }

    .dropdown-content a {
        width: 90%;
        display: flex;
        margin-left: 5px;
        padding: 0px 0px;
        justify-content: center;
    }

    #linkContainer a:hover{
        font-size: 20pt;
        margin-top: 8px;
        padding: 6px 5px;
        min-width: 100px;
        border-radius: 7px;
    }

    .dedicatedPage{
        float: right !important; 
        margin-right: 8px !important;
    }
}

@media only screen and (max-width: 800px) {
    .mobileCenter{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: calc((100% - 40px) / 2);
    }

    #page{
        margin-top: -50px;
        padding-bottom: 75px;
    }

    #navbox{
        width: 100%;
        bottom: 0;
        border-top: 1px solid #d3d3d3;
        overflow: hidden;
    }

    #navToggle{
        display: block;
    }

    #linkContainer{
        width: 100%;
        height: auto;
        overflow-y: scroll;
        margin-top: 61px;
        border-top: 2px solid #d3d3d3;
    }

    #linkContainer a{
        display: inline-flex;
        width: fit-content;
        margin: auto;
        text-align: center;
        padding: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20pt;
        border: 2px solid rgb(209, 209, 209);
        margin-left: 10px;
        border-radius: 7px;
    }

    #myDropdown {
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        display: inline-block;
        padding-bottom: 130px;
    }

    #buttonTop{
        bottom: 60px;
    }

    .columnContainer{
        background-color: rgba(95, 141, 55, 0);
        width: 100%;
        display: inline-block;
        border: 0px;
        margin-top: 0px;
        padding: 0px;
    }

    .columnContainer article{
        background-color:rgb(117, 117, 117, 0.05);
        width: 86%;
        margin-top: 10px !important;
        margin-bottom: 0px;
    }
}
  

.fadeOut{
    display: block !important;
    animation: leavingDivAnimation 0.2s normal forwards;
}

#leavingPage, #leavingBackground{
    width: 100vw;
    height: 110vh;
}

#leavingPage{
    display: none;
    background-color:rgb(44, 40, 40);
    position: fixed;
    margin: auto;
    z-index: 2;
}

#leavingBackground{
    position: absolute;
    background: linear-gradient(45deg, #2F2D2D 10%,transparent 10%,transparent 90%,#2F2D2D 90%),linear-gradient(135deg, transparent 40%, #2F2D2D80 40%, #2F2D2D80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #2F2D2D 40%, #2F2D2D 60%, transparent 0);
    background-size: 4em 4em;
    background-color:rgb(44, 40, 40);
    animation: backgroundLoader 1s infinite;
}

#leavingModel{
    display: block;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color:rgb(44, 40, 40);
    border: 3px solid white;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

#leavingPage .modal-header{
    background: none;
    height: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#leavingPage .close{
    margin-top: -10px;
}

#stuckLoading{
    opacity: 0;
    animation: stuckLoading 7s forwards;
    text-align: center;
}

#stuckLoading a{
    text-decoration: underline;
    cursor: pointer;
}

/*Thanks to https://cssloaders.github.io*/

    .loader {
    display: block;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }

    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: -.4s;
    }

@keyframes backgroundLoader {
        0% {
            background-position-x: 0px;
        }
        100%{
            background-position-x: -190px;
        }
    }
    
    

@keyframes leavingDivAnimation {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

@keyframes stuckLoading {
        0%{
            opacity: 0;
        }
        90%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
}

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  

/*=-=-=-=-=-=-=-= In-Page Navs =-=-=-=-=-=-=-=*/

.inlinePage{
    width: 100vw;
    height: 100%;
}

#inlineInfoCard{
    display: block;
}

#inlineInfoAbout{
    display: none;
}

/*=-=-=-=-=-=-=-=-= Formatting =-=-=-=-=-=-=-=-=*/

.columnContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    max-width: 1300px;
    transition: width 0.2s;
}

.sizeLarger{
    max-width: 1700px;
}

.columnContainer article{
    margin-left: auto;
    margin-right: auto; 
    height: auto;
    border: 0px;
}

div article{
    width: 100%;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
}


/*=-=-=-=-=-=-=-=-= Modals =-=-=-=-=-=-=-=-=*/

#imageViewer {
    display: none;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    animation: imageBox 0.2s forwards;
}

#imageViewer, #imageBackdrop, #imageDisplay{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

#imageBackdrop, #imageDisplay{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#imageBackdrop {
    width: 110vw;
    height: 110vh;
    background-size: cover;
    filter: blur(150px) brightness(0.7);
    animation: imageBox 0.6s forwards;
  }

#imageDisplay {
    margin-top: 10vh;
    width: 80vw;
    height: 80vh;
    background-size: contain;
    animation: imageAppear 0.3s forwards;
}

#imageViewer h2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.viewable{
    cursor: pointer;
}

.viewable:active{
    scale: 1.1;
}

/*Thanks to https://stackoverflow.com/questions/40645032/creating-multiple-modals-on-a-single-page*/

.modalButton{
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: rgb(52, 52, 52);
    font-size: 17pt;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    color: white;
    transition: scale 0.1s;
}

.modal-button{
    cursor: pointer;
}

.modalButton:hover{
    scale: 1.05;
}

.modalButton:active{
    scale: 1.1;
}

.modalButton img{
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 150px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.modal-content {
    position: relative;
    background-color: #2e2a2a;
    margin: auto;
    padding: 0;
    border: 4px solid rgb(246, 151, 151);;
    border-radius: 20px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16pt;
    animation: imageAppear 0.3s;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
}

.close:hover {
    color: #cdcdcd;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 4px 16px;
    background-color: rgb(246, 151, 151);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body {
    padding: 22px 16px;
}

.modal-body p, .modal-body a, .modal-header h2, .close {
    color: white !important;
}


/*=-=-=-=-=-=-=-=-= Forms =-=-=-=-=-=-=-=-=*/

form input{
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(246, 151, 151);
    font-size: 20pt;
}

[data-theme='dark'] form input{
    background-color:rgb(87, 87, 87);
}

form input:hover{
    background-color: #e2d5d5;
}

form input[type=text], form input[type=password]{
    color: #bb3e00;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    transition: width 0.2s;
    width: 50%;
    min-width: 250px;
}

input[type=submit]{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    transition: width 0.2s;
    cursor: pointer;
}

input[type=submit]:hover{
    border: 2px solid white;
    background-image: linear-gradient(to bottom, rgb(246, 151, 151), rgb(244, 118, 118));
}


/*=-=-=-=-=-= Item Container and Navigation =-=-=-=-=-=*/

.listbox {
    height: auto;
    border-radius: 5px;
    border: 3px solid #d3d3d3;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition: width 0.2s, height 0.2s, border-radius 0.6s;
}

.listbox a{
    color: rgb(87, 87, 87);
    text-align: left;
    padding: 1px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-bottom: 1px solid rgb(87, 87, 87); 
    text-decoration: none;
    font-size: 18pt;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.listbox a:active{
    margin-top: -3px;
}

[data-theme='dark'] .listbox a{
    color: rgb(245, 245, 245);
}

.listbox a:hover{
    background-color: rgb(246, 151, 151);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}


/*=-=-=-=-=-=-=- ( It's Mobilin' Time ) -=-=-=-=-=-=-=*/
@media only screen and (min-width: 800px) {
    .onMobile{
        display: none;
        visibility: hidden;
    } 
}

@media only screen and (max-width: 800px) {
    article{
        border: 0px;
        margin-top: 0px;
        margin-bottom: 0px; 
        width: 90%;
        border-radius: 10px;
    }

    #leavingModel{
        bottom: 50px;
    }

    .columnContainer{
        background-color: rgba(95, 141, 55, 0);
        width: 100%;
        display: inline-block;
        border: 0px;
        margin-top: 0px;
        padding: 0px;
    }
    
    .columnContainer article{
        background-color:rgb(117, 117, 117, 0.05);
        width: 86%;
        margin-top: 10px !important;
        margin-bottom: 0px;
    }

    .subtitle{
        font-size: 22px;
    }

    #form{
        text-align: center;
    }
    
    .formText{
        width: 90%;
        margin-right: 10%;
    }

    .medium{
        max-width: 80%;
        margin-top: 10px;
        height: auto;
    }
    
    .onMobile{
        display: block;
    }

    .offMobile{
        display: none;
        visibility: hidden;
    }

    #imageBackdrop {
        background-size: cover;
    }

    #imageDisplay{
        margin-top: 5vh;
        width: 100vw;
    }
    
    #imageViewer h2{
        bottom: 150px;
    }

    span, .text, li{
        font-size: 14pt;
    }

    .listbox a{
        margin: 2px;
        font-size: 16pt;
    }
}

/*=-=-=-=-=-=-=-=- ( Animations ) -=-=-=-=-=-=-=-=*/

@keyframes pageEntryway {
    0%{ 
        opacity: 0;
        margin-top: 10px;
    }
    100%{
        margin-top: 30px;
    }
}

@keyframes pageMoveIn {
    0% {
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pageMoveOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

@keyframes imageBox {
    0%{ 
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes menuMoveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        margin-top: 60px;
        opacity: 1;
    }
}

@keyframes imageAppear {
    0%{ 
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}


@keyframes delayedAppear {
    0%{ 
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes delayedMoveIn {
    0%{ 
        transform: translateY(130px);
    }
    75%{
        transform: translateY(130px);
    }
    100%{
        transform: translateY(0px);
    }
}


/*=-=-=-=-=-=-=-=-= Accessibility =-=-=-=-=-=-=-=-=*/

@media (prefers-reduced-motion) {
    html, body{
        scroll-behavior: none;
    }

    main, article, .fadeOut{
        animation-duration: 0s;
    }

    #navbox, .siteName{
        transition-duration: 0s;
    } 
    
    #linkContainer, #linkContainer a, article .listbox, .listbox li a, .modalButton, #buttonTop {
        transition-duration: 0s;
    }

    #imageViewer, #imageBackdrop, #imageDisplay, .modal-content {
        animation-duration: 0s;
    }

    #buttonTop:after{
        content:'To Top (Reduced Motion)';
        font-size: 9pt;
    }
}