/*=-=-=-=-=- ( Base Properties ) -=-=-=-=-=*/

#RSOD{
  display: block;
  position: fixed;
  width: 600px !important;
  height: 300px !important;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 60px;
  resize: none;
}

#RSOD h2 {
    text-indent: 20px;
}


[id="Ska.Space"] {
    width: 1200px;
    height: 700px;
}

[id="About Ska"] {
  position: absolute;
  width: 308px;
  height: 470px;
  right: 10px;
  top: 75px;
}

#Ska{
  width: 1000px;
  height: 500px;
}

#Settings{
  width: 1000px;
  height: 500px;
}

#Cloud{
  width: 1500px;
  height: 800px;
}

#SpiderWeb{
  width: 1200px;
  height: 600px;
}

#Cyan{
  width: 800px;
  height: 400px;
}

#Posts{
  width: 1300px;
  height: 700px;
}

#Media{
  width: 80%;
  height: 80%;
}

.page{
    display: none;
}

.mainPage{
    display: block;
}

/*=-=-=-=-=-=-=- ( Components ) -=-=-=-=-=-=-=*/

hr{
    width: 98%;
    margin-bottom: 15px;
    border: 1px solid var(--border-primary)
  }

/*Buttons*/

button {
    background-color: var(--element-background);
    width: 130px;
    font-size: 10pt;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    line-height: 2;
}
  
button:active {
    scale: 1.03;
    transition: scale 0.03s;
}

[dset_theme='light'] .sliderButton:before {
    background-color: var(--color-primary);
}

.sliderButton:active:before {
    width: 30px;
}

/*=-=-=-=-=-=-=- ( App UI ) -=-=-=-=-=-=-=*/

.app{
    display: none;
    position: absolute;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: var(--border-radius);
    min-width: 300px;
    height: 80vh;
    max-height: 95%;
    box-shadow: 5px 8px 16px 3px rgba(0,0,0,0.2);
    transition: border-radius 0.1s;
    overflow: hidden;
    resize: both;
}

.webapp{
    width: 100%;
    height: 100%;
    padding-top: 35px;
    box-sizing: border-box;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    width: 100%;
    overflow: hidden;
}  

.appHeader{
    position: absolute;
    background-color: var(--background-secondary);
    border-width: 0px;
    width: 100%;
    height: 35px;
    cursor: move;
    z-index: 50px;
    user-select: none;
}

.appHeader ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appHeader ul img{
  width: 24px; 
  height: 24px; 
  margin: 5px;
}

.appHeader ul span{
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
}

.appHeader ul li {
    float: right;
    width: 45px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.typeClose:hover{
    background-color: var(--color-secondary) !important;
}

.appBody {      
  background-color: var(--background-tertiary);
  padding: 20px;
  padding-top: 10px;
  margin-top: 35px;
  flex: 1;
  border-top-left-radius: 10px;
  overflow-y: auto;
}

.appBody h2{
    margin-top: 0px;
}

.sidebar{
    background-color: var(--background-secondary);
    width: 150px;
    min-width: 150px;
    margin-top: 35px;
    align-self: stretch;
    padding: 10px;
    overflow-y: auto;
}

.menuButtons button{
    width: 150px;
    padding: 6px 8px;
    display: block;
    background-color: transparent;
    border: transparent;
    text-align: left;
    text-indent: 5px;
    line-height: 27px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.menuButtons button:first-child{
  background-color: var(--element-hover);
}

.menuButtons button:hover{
  background-color: var(--element-hover) !important;
}

/*=-=-=-=-=- ( Specific App UI ) -=-=-=-=-=*/

/*Settings*/
#wallpaperPreview{
    background-image: url(images/wallpaper.webp);
    background-color: var(--background-secondary);
    width: 90%;
    max-width: 300px;
    height: 150px;
    background-size: cover;
    background-clip: border-box;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid var(--background-secondary)
  }


/*=-=-=-=-=-=-=- ( Image Viewer ) -=-=-=-=-=-=-=*/

#Media .appHeader{
  position: absolute;
}

#imageViewer, #imageBackdrop, #imageDisplay{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#imageBackdrop, #imageDisplay{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#imageBackdrop {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(150px) brightness(0.7);
}

#imageDisplay {
    width: 80%;
    height: calc(100% - 35px);
    margin-top: 35px;
    background-size: contain;
}

/*=-=-=-=-=-=- ( App Mobile ) -=-=-=-=-=-=*/

.mobile .centeredMobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mobile .content{
  padding-bottom: 60px;
}

.mobile .sidebar{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: none;
  height: 60px;
  padding: 0;
  border-top: 1px solid var(--border-primary);
}

.mobile .appBody {
  border-top-left-radius: 0px;
}

.mobile .menuButtons{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.mobile .menuButtons button{
  display: block;
  width: 70px;
  height: 50px;
  text-align: center;
  font-size: 0px;
}

.mobile .menuButtons button img{
  width: 28px;
  height: 28px;
  display: flex;
  margin-left: 14px;
}

.mobile #wallpaperPreview{
  margin: auto;
}

.mobileIfWebapp.webview{
  padding-bottom: 30px;
}

.mobileIfWebapp.webview .appHeader{
  position: relative;
}

.mobileIfWebapp.webview .webapp{
  margin-top: 0px;
  height: calc(100% + 56px);
}

.mobile #imageDisplay {
  width: 100%;
}
