html{
  cursor: url('images/cursor.png'), auto;
}

body{
  background: var(--page-wallpaper);
  background-size: var(--wallpaper-size);
  background-position: center;
  background-color: var(--page-background);
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

/*Global Styles*/

#title{
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    user-select: none;
}

span, p, a, h1, h2, h3, li, button, #date-time {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: var(--text-color)
}

h1{
  font-size: 22pt;
  text-align: center;
}

h3{
  margin: 0px;
}

.hidden {
  display: none;
}

:root{
  --page-background: rgb(45, 42, 42);
  --page-wallpaper:  url('images/wallpaper.webp');
  --wallpaper-size: cover;
  --text-color: rgb(245, 245, 245);

  --blurred-background: rgba(35, 35, 35, 0.7);  
  --blurred-attribute: blur(25px);
  --background-primary: rgb(49, 46, 46);
  --background-secondary: rgb(41, 39, 40);
  --background-tertiary: rgb(67, 66, 66);

  --element-background: rgb(82, 79, 79);
  --element-hover: #5353538b;

  --color-primary: rgb(246, 151, 151);
  --color-secondary: rgb(252, 100, 100);
  --color-tertiary: rgb(100, 71, 71);

  --border-primary: rgb(100, 100, 100);
  --border-secondary: rgb(65, 65, 65);
}

[desktop-theme='light'] {
  --page-background: rgb(235, 235, 235);
  --text-color: rgb(51, 51, 51);
  
  --blurred-background: rgba(233, 237, 241, 0.75);
  --blurred-attribute: blur(25px);

  --background-primary: rgb(225, 228, 230);
  --background-secondary: rgb(229, 232, 236);
  --background-tertiary: rgb(213, 215, 216);

  --element-background: rgb(235, 235, 235);
  --element-hover: rgba(84, 84, 84, 0.169);
 
  --color-tertiary: #f0e6e6;

  --border-primary: #9f9f9f;
  --border-secondary: #c3c3c3;
}

.active, nav a:hover, #startButton:hover a, #navright:hover, #statusBar:hover, #peekBar:hover, #peekBar:hover, #desktopIcons li:hover, .appHeader ul li:hover {
  background-color: var(--element-hover)
}

.invert{
  filter: invert(1);
}

[desktop-theme='light'] .invert{
  filter: invert(0);
}

[desktop-setting-debug-outlines='true'] *{
  border: 1px solid red !important;
}

/*Buttons toggled off by default*/
[desktop-setting-debug-outlines='true'] #settingButtonOutlines, [desktop-setting-acc-reduced-motion='true'] #settingButtonReducedMotion,
[desktop-setting-style-nightlight='true'] #settingButtonNightlight {
  border: 1px solid var(--color-primary);
}

/*Buttons toggled on by default*/
#settingButtonSplashscreen {
  border: 1px solid var(--color-primary);
}

[desktop-setting-style-splashscreen='true'] #settingButtonSplashscreen{
  border: 1px solid var(--border-primary);
}

/*Layers*/
#nightlight{
  display: none;
  background-color: rgba(181, 81, 0, 0.3);
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
}

[desktop-setting-style-nightlight='true'] #nightlight {
  display: block;
}

/*Desktop*/

#desktop{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#start, #notify, #ccenter{
  background-color: var(--blurred-background);
  backdrop-filter: var(--blurred-attribute);
  -webkit-backdrop-filter: 25px; 
  border: 1px solid var(--border-primary)
}

#start, #notify, #ccenter{
  position: fixed;
  display: none;
  border-radius: 5px;
}

#start{
    width: 90%;
    min-width: 435px;
    max-width: 535px;
    height: 70%;
    min-height: 200px;
    max-height: 600px;
    bottom: calc(0% + 50px);
    left: calc(0% + 5px);
    z-index: 50;
}

#notify{
    width: 350px;
    height: 90%;
    bottom: calc(0% + 50px);
    right: calc(0% + 5px);
    text-align: center;
    z-index: 50;
}

#notify img{
  display: block;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#ccenter{
  display: none;
  width: 305px;
  height: 300px;
  bottom: calc(0% + 50px);
  right: calc(0% + 5px);
  z-index: 51;
}

#ccenter li{
  width: 76px !important;
}

/*Desktop Apps*/

#desktopIcons{
    list-style-type: none;
    height: auto;
    text-align: center;
}

#desktopIcons li{
  width: 64px;
  height: 64px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  transition: background-color 0.1s;
}

#desktopIcons li img{
  width: 48px;
  border-radius: 10px;
}

#desktopIcons li:hover{
  background-color: #e1e1e12b;
}

/*Start Apps*/

#startIcons{
  width: 95%;
  list-style-type: none;
  height: auto;
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

#startIcons li{
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 10pt;
  text-align: center;
  user-select: none;
  transition: background-color 0.1s;
  cursor: pointer;
}

.typeCCenter li{
  height: 32px;
}

#startIcons li img{
  width: 48px;
  border-radius: 10px;
  transition: scale 0.1s;
}

#startIcons li:hover{
  background-color: var(--element-hover);
}

#startBottom{
  position: absolute;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--border-primary);
  bottom: 0;
}

#startUser{
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

#startUser img{
  width: 36px;
  margin-top: 8px;
  border: 1px solid rgb(246, 151, 151);
  border-radius: 50%;
}

#startUser span{
  position: absolute;
  margin-top: 16px;
  margin-left: 10px;
}

#buttonLogout{
  float: right;
  text-decoration: none;
  margin: 20px;
  user-select: none;
  cursor: pointer;
  background-color: var(--background-primary);

}


/*App Windows*/

.app{
    background-color: var(--background-secondary);
    min-width: 300px;
    min-height: 100px;
    border-radius: 10px;
    display: none;
    position: absolute;
    resize: both;
    overflow: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
    border: 1px solid var(--border-secondary);
    box-shadow: 5px 8px 16px 3px rgba(0,0,0,0.2);
}

.appHeader{
    background-color: var(--background-secondary);
    width: 100%;
    height: 35px;
    cursor: move;
    z-index: 50px;
    user-select: none;
}

audio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.simpleApp{
  background-color: var(--background-primary);
}

.webapp{
    width: 100%;
    height: 100%;
}

.appHeader ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appHeader ul img{
  width: 24px; 
  height: 24px; 
  margin: 5px
}

.appHeader ul span{
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
}

.appHeader ul li {
    float: right;
    width: 45px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.typeClose:hover{
    background-color: var(--color-secondary) !important;
}

/*Taskbar*/
nav{
    background-color: var(--blurred-background);
    backdrop-filter: var(--blurred-attribute);
    -webkit-backdrop-filter: 25px; 
    border-top: 1px solid var(--border-primary);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 47px;
    z-index: 60;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a { 
 float: left;
 display: none;
 text-align: center;
 padding: 8px 20px;
 margin: 3px;
 border-radius: 5px;
 text-decoration: none;
 user-select: none;
 cursor: pointer;
 transition: background-color 0.1s, padding 0.1s, font-size 0.1s;
 animation: easeInFromBottom 0.2s;
}

nav a:last-child {
 border-right: none;
}

nav a img{
 width: 25px;
 height: 25px;
 margin-right: 5px;
 margin-left: -5px;
}

.pinnedToTaskbar{
 display: inline-flex !important;
}

.defaultOnTaskbar{
 display: inline-flex;
}

#startButton{
 display: inline-flex;
 padding: 3px 3px;
 margin: 4px;
 margin-left: 6px;
 width: 35px;
 height: 35px;
}

#startButton img{
 position: relative;
 width: 35px;
 height: 35px;
 margin: 0px;
 border-radius: 5px;
}

nav img{
  transition: scale 0.1s;
}

nav a:active img, #startIcons a:active img{
  scale: 0.8;
}

#date-time{
  float: right;
  font-size: 13px;
  padding-right: 10px;
}

#navright{
  float:right;
  padding-left: 8px;
  margin-top: -4px;
  user-select: none;
  cursor: pointer;
}

#peekBar{
  width: 8px;
  height: 50px;
  float:right;
  transition: background-color 0.1s;
  cursor: pointer;
}

#statusBar{
  width: 50px;
  height: 40px;
  float: right;
  margin-top: 5px;
  padding-left: 5px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

#statusBar img{
  width: 20px;
  margin-top: 10px;
  align-self: center; 
}

#taskbaricon{
  position:inherit;
  width:24px;
  height: 24px;
}


/*Animations*/

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

    @keyframes fadeInAndAway {
    0% { opacity: 0; background-color: rgba(0, 0, 0, 0); }
    20% { opacity: 1; background-color: rgba(0, 0, 0, 0); }
    80% { opacity: 1; background-color: rgba(0, 0, 0, 0); }
    100% { opacity: 1; background-color: black; }
  }
  
  @keyframes popup {
    0% { opacity: 0; transform: scale(0); }
    75% { opacity: 1; }
    100% { transform: scale(1); }
  }
  
  @keyframes popout {
    0% { transform: scale(1); }
    75% { opacity: 0; }
    99% { transform: scale(0.7); }
    100% { opacity: 0; transform: scale(0); }
  }
  
  @keyframes maximize {
    0% { scale: 1; }
    75% { }
    100% { top: calc(0%); left: calc(0%); width: 100%; height: calc(100% - 50px); }
  }
  
  @keyframes minimize {
    0% { }
    75% { }
    99% { margin-top: 25%; opacity: 0; scale: 0.3; }
    100% { margin-top: 0%; opacity: 0; scale: 0; }
  }
  
  @keyframes slideUp {
    0% { opacity: 0; transform: translate(0, 700px) }
    75% { transform: translate(0, 0) }
    100% { opacity: 1; }
  }
  
  @keyframes slideOut {
    0% { opacity: 1; transform: translate(0, 0) }
    100% { opacity: 0; transform: translate(0, 700px) }
  }
  
  @keyframes slideRightToLeftIn {
    0% { opacity: 0; transform: translate(700px, 0) }
    75%{ transform: translate(0, 0) }
    100% { opacity: 1; }
  }
  
  @keyframes slideRightToLeftOut {
    0% { opacity: 1; transform: translate(0, 0) }
    100% { opacity: 0; transform: translate(700px, 0) }
  }
  
  @keyframes easeInFromBottom {
    0% { opacity: 0; transform: translate(0px, 180px) }
    50%{ opacity: 1; }
    100% { opacity: 1; transform: translate(0px, 0px) }
  }

  @keyframes spin {
    0%, 100% { box-shadow: .2em 0px 0 0px currentcolor; }
    12% { box-shadow: .2em .2em 0 0 currentcolor; }
    25% { box-shadow: 0 .2em 0 0px currentcolor; }
    37% { box-shadow: -.2em .2em 0 0 currentcolor; }
    50% { box-shadow: -.2em 0 0 0 currentcolor; }
    62% { box-shadow: -.2em -.2em 0 0 currentcolor; }
    75% { box-shadow: 0px -.2em 0 0 currentcolor; }
    87% { box-shadow: .2em -.2em 0 0 currentcolor; }
  }

  @keyframes splashScreenImg {
    0% { scale: 0; }
    25% { scale: 1; }
    35% { transform: none; }
    65% { transform: translateY(-90px);}
    80% { width: 128px; height: 128px; transform: translateY(-90px); }
    99.9% { width: 35px; height: 35px; transform: translate(calc(-50vw + 27px), calc(50vh - 23px)); scale: 1; opacity: 1; }
    100%{
      opacity: 0;
      scale: 0;
    }
  }

  @keyframes splashScreenText {
   0%{ opacity: 0; }
   50% { opacity: 1; }
   85% { opacity: 1; scale: 1; } 
   100% { opacity: 0; scale: 0; }
  }


/* Loader */

#shutdown {
  backdrop-filter: blur(200px);
  opacity: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  animation: fadeInAndAway 1.8s forwards;
}

[desktop-setting-style-splashscreen='true'] #splash {
  display: none;
}

.splashContent{
  width: 300px;
  height: 200px;
  position: fixed;
  margin: auto;
  padding: auto;
  top: -40px;
  bottom: 0;
  left: 0;
  right: 0;
}

#splashLogo, #splashText{
  display: block;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

#splashLogo{
  width: 128px;
  height: 128px;
  animation: splashScreenImg 2s forwards;
}

#splashText {
  width: fit-content;
  height: fit-content;
  opacity: 0;
  animation: splashScreenText 0.7s forwards;
  animation-delay: 1s;
}

/*#startButton img {
  opacity: 0;
  animation: fadeIn 0s forwards;
  animation-delay: 2s;
}*/

.loader {
  display: block;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: -.4s;
}

/*Desktop Selector*/

#container { 
  width: 100%; 
  height: 100%;
  position: fixed;
  margin: 0 auto;
  padding: 0;
} 

#selection { 
  position: absolute; 
  border: 2px solid rgb(255, 173, 173); 
  background-color: rgba(230, 173, 173, 0.3);
  display: none;
}

/*Native Mobile*/

@media only screen and (min-width: 700px) {
  .app{
    top: 30px;
    left: 30px;
  }
}

@media only screen and (max-width: 700px) {

  nav a { 
    width: 10px;
    font-size: 0px;
    padding: 8px 15px;
  }
  
  nav a img{
    margin-left: -8px;
  }

  #splash{
    visibility: hidden;
  }
  
  .app{
    max-width: 100%;
    width: 100vw !important;
    height: calc(100% - 78px) !important;
    border-radius: 0px;
  } 

  #start{
    min-width: 0px;
    width: 97%;
  }

  .typeSize{
    display: none;
  }

  #startIcons{
    justify-content: center;
  }
}

/*Accessibility*/
[desktop-setting-acc-reduced-motion='true'] :is(#start, #notify, #ccenter, .app, #shutdown, #Settings .page) {
  animation-duration: 0s !important;
}


/*Hovertext*/
.hoverText{
  position: relative;
}

.hoverText hover-text {
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-border);
  position: absolute;
  margin: auto;
  margin-top: -20px;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: max-content;
  font-size: 12pt;
  text-align: center;
  border-radius: 10px;
  padding: 8px 0px;
  z-index: 1;
  transition: padding 0.2s, margin 0.2s, visibility 0.2s, opacity 0.2s;
  pointer-events: none;
  user-select: none;
}

.hoverText:hover hover-text {
  visibility: visible;
  padding: 8px 10px;
  opacity: 1;
  margin-top: -45px;
}

hover-text::after {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.slideUp hover-text::after{
  top: 100%;
  border-color: var(--primary-border) transparent transparent transparent;
}

.slideDown hover-text{
  margin-top: 5px;
}

.slideDown:hover hover-text{
  margin-top: 35px;
}

.slideDown hover-text::after {
  bottom: 100%;
  border-color: transparent transparent var(--primary-border) transparent;
}

hover-text img{
  width: 32px;
}
