/*Style*/

h1{
  text-align: center;
}

#title{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

span, p, a, h1, h2, li{
  font-family: 'Segoe UI', Arial, sans-serif;
}

#text{
    color: white;
}

.hidden {
  display: none;
}

.invert{
  filter: invert(1);
}

[desktop-theme='light'] .invert{
  filter: invert(0);
}


[desktop-theme='light'] #start, [desktop-theme='light'] #notify, [desktop-theme='light'] nav ul {
    background-color: rgba(224, 236, 247, 0.75);
    color: rgb(50, 50, 50);
}

[desktop-theme='light'] #date-time, [desktop-theme='light'] nav ul a {
  color: rgb(57, 57, 57);
}



/*Login*/

body{
    background-image: url("../global/media/backgrounds/desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

#loginimage{
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 256px;
    height: 256px;
    border: 2px solid white;
    border-radius: 10px;
    transition: margin-top 0.2s;

}

#loginlist{
    position: fixed; /* Sit on top of the page content */
    background-color: rgba(50, 50, 50, 0.829);
    width:400px;
    height: 950px;
    border: 2px solid white;
    border-radius: 10px;
}

.loginField{
  background-color: rgba(78, 78, 78, 0.829);
  margin-top: 30px;
  width: 500px;
  height: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 40pt;
}

#logingo{
    font-size: 60px;
    color:white;
    text-decoration: none;
    padding: 15px;
    position: fixed;
    margin-top: 30px;
    margin-left: -85px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#logingo:hover{
    background-color: rgba(255, 146, 146, 0.829);
}


  
/*Desktop*/

#desktop{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}


#start{
    background-color: rgba(39, 39, 39, 0.7);
    color: rgb(225, 225, 225);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    width: 90%;
    min-width: 435px;
    max-width: 550px;
    height: 70%;
    min-height: 200px;
    max-height: 600px;
    border-radius: 5px;
    bottom: calc(0% + 50px);
    left: calc(0% + 3px);
    position: fixed;
    display: none;
    z-index: 50;
}

#notify{
    background-color: rgba(39, 39, 39, 0.7);
    color: rgb(225, 225, 225);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    width: 350px;
    height: 90%;
    border-radius: 5px;
    bottom: calc(0% + 50px);
    right: calc(0% + 5px);
    position: fixed;
    display: none;
    z-index: 50;
}

.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}

/*Desktop Apps*/

#desktopIcons{
    list-style-type: none;
    height: auto;
    text-align: center;
}

#desktopIcons li{
  width: 64px;
  height: 64px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  transition: background-color 0.1s;
}

#desktopIcons li img{
  width: 48px;
  border-radius: 10px;
}

#desktopIcons li:hover{
  background-color: #e1e1e12b;
}

/*Start Apps*/

#startIcons{
  width: 100%;
  list-style-type: none;
  height: auto;
}

#startIcons li{
  display:inline-block;
  width: 64px;
  height: 64px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.1s;
  }

#startIcons li img{
  width: 48px;
  border-radius: 10px;
  transition: scale 0.1s;
}

#startIcons li:hover{
background-color: #e1e1e12b;
}

#startBottom{
  position: absolute;
  width: 100%;
  height: 60px;
  border-top: 1px solid gray;
  bottom: 1;
}

#buttonLogout{
  color: inherit;
  float: right;
  text-decoration: none;
  margin: 20px;
}


/*App Windows*/

.app{
    min-width: 350px;
    min-height: 300px;
    border-radius: 10px;
    display: none;
    position: absolute;
    resize: both;
    overflow: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}


#appSettings{
    background-color: rgb(90, 90, 90);
    width: 1500px;
    height: 600px;
}

.appHeader{
    width: 100%;
    height: 30px;
    background-color: rgba(224, 236, 247, 0.75);
    border-bottom: 1px solid gray;
    cursor: move;
    z-index: 50px;
}

#appSeal{
    width: 1500px;
    height: 800px;
}

.webapp{
    width: 100%;
    height: 100%;
}

.appActions{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appLi{
    float: right;
    width: 75px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    border-right: 1px solid gray;
}

.appLi:hover{
    background-color: rgba(128, 128, 128, 0.2);
}

.typeClose:hover{
    background-color: rgba(255, 67, 67, 0.2);
}


/*Taskbar*/
nav{
    position:fixed;
      bottom: 0;
      width: 100%;
      height: 47px;
      margin-right: -10px;
      z-index: 60;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(50, 50, 50, 0.529);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    margin-left: -10px;
  }
  
  nav li {
    float: left;
    border-right: 1px solid #bbbbbb7f;
  }
  
  nav li:last-child {
    border-right: none;
  }
  
  nav li a {
    display: none;
    color: white;
    text-align: center;
    padding: 8px 20px;
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.1s;
  }
  
  nav li img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: -5px;
  }

  nav li a:hover, #startButton:hover a, .active {
    background-color: #3b3b3b75;
  }

  .pinnedToTaskbar{
    display: inline-flex !important;
  }

  .defaultOnTaskbar{
    display: inline-flex;
  }


  #startButton{
    display: inline-flex;
    padding: 3px 3px;
    margin: 4px;
    margin-left: 6px;
    width: 35px;
    height: 35px;
  }

  #startButton img{
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0px;
    border-radius: 5px;
  }

  nav img{
    transition: scale 0.1s;
  }
  
  nav li:active img, #startIcons li:active img{
    scale: 0.8;
  }
  
  
  #clock{
    max-width: 600px;
  }
  
  #date-time{
    color: white;
    float: right;
    font-size: 13px;
    padding-right:20px;
  }
  
  #navright
  {
    float:right
  }

  #taskbaricon{
    position:inherit;
    width:24px;
    height: 24px;
  }


/*Animations*/

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    75%{
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes popout {
    0% {
      transform: scale(1);
    }
    75%{
      opacity: 0;
    }
    99%{
      transform: scale(0.7);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  @keyframes maximize {
    0% {
  
    }
    75%{
  
    }
    100% {
      top: calc(0%);
      left: calc(0%);
  
      width: 100%;
      height: calc(100% - 50px);
    }
  }
  
  @keyframes minimize {
    0% {
  
    }
    75%{
      
    }
    99%{
      margin-top: 20%;
      opacity: 0
    }
    100% {
      transform: scale(0.7);
      margin-top: 0%;
      opacity: 0
    }
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translate(0, 700px)
    }
    75%{
      transform: translate(0, 0)
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translate(0, 0)
    }
    100% {
      opacity: 0;
      transform: translate(0, 700px)
    }
  }
  
  
  @keyframes slideRightToLeftIn {
    0% {
      opacity: 0;
      transform: translate(700px, 0)
    }
    75%{
      transform: translate(0, 0)
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideRightToLeftOut {
    0% {
      opacity: 1;
      transform: translate(0, 0)
    }
    100% {
      opacity: 0;
      transform: translate(700px, 0)
    }
  }
  


/*App Settings*/

.customizeOption{
  display: flex;
  align-items: center;
  background-color: rgba(235, 235, 235);
  border: 1px solid gray;
  color: rgb(87, 87, 87);
  width: 150px;
  height: 40px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .app{
    max-width: 100%;
    width: 200px;
  } 
}