body{
    background-size: cover !important;
    background-attachment: fixed !important;
}

[data-theme='dark'] body{
    background-color:rgb(44, 40, 40) !important;
    background: url('../../../global/media/backgrounds/darkmode.jpg') center no-repeat;
}

article{
    width: 80%;
    max-width: 1600px;
    margin-top: 200px;
}

[data-theme='light'] article{
    background-color: transparent;
    border: 0px;
}

[data-theme='dark'] article{
    background-color: transparent;
    border: 0px;
}

#page{
    padding-top: 25vh;
}

/*Search Area*/

.searchLogo{
    opacity: 0.8;
    width: 128px;
    padding: 10px;
    margin-bottom: 20px;
}

.searchText{
    font-size: 40pt;
    color: white !important;
}

input[type='search'] {
    width: 725px;
    height: 55px;
    padding: 20px;
    background-color: rgb(245, 245, 245, 0.7);
    font-size: 24px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

[data-theme='dark'] input[type='search']{
    background-color: rgb(57, 58, 59, 0.7);
}

input[type='search']:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

input[type='submit'] {
    background: transparent !important;
    display: inline-block;
    position: absolute;
    margin-left: -75px;
    margin-top: 0px;
    width: 75px;
    height: 55px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #d3d3d3;
    font-size: 20pt;
    transition: 0.2s;
}

input[type='submit']:hover{
    background-color: rgb(246, 151, 151) !important;
}

input[type='submit']:active{
    scale: 1.1;
}

form image{
    width: 64px;
    height: 64px;
}

#searchYouTube, #searchBing, #searchDuck {
    display: none;
}

#selectYouTube, #selectBing, #selectDuck {
    opacity: 0.8
}

.engines{
    margin-top: 20px;
    border: 0px; 
    padding: 0px;
}

#select{
    display: none;
}

/*Item Container and Navigation*/

.listbox{
    height: auto;
    border: 0px;
    padding: 10px;
    margin-bottom: 20px;
    transition: width 0.2s, height 0.2s, border-radius 0.6s;
}

.listbox a {
    background-color: rgb(37, 36, 36, 0.5);
    transition: background-color 0.2s, border-radius 0.2s;
}

[data-theme='light'] .listbox a {
    background-color: rgb(245, 245, 245, 0.7);
}

.listbox a:hover{
    opacity: 1 !important;
}

.listbox h2{
    margin-top: 20px;
    margin-bottom: 10px
}

/*Customize Settings Area*/

.contentColor{
    background-color: rgba(235, 235, 235, 0.3);
    color: rgb(87, 87, 87);
}

[data-theme='dark'] .contentColor{
    background-color:rgb(37, 36, 36, 0.3);
    color: rgb(245, 245, 245);
}

#customize {
    position: fixed;
    width: 120px;
    height: 40px;
    margin: 10px;
    right: 0;
    bottom: 0;
    background-color: rgba(203, 203, 203, 0.7);
    border-radius: 15px;
    border: 1px solid rgb(185, 185, 185);
    transition: width 0.5s, height 0.5s;
}

[data-theme='dark'] #customize{
    background-color: rgb(87, 87, 87, 0.7);
}

#customize .spaceNavIcon{
    margin-right: 5px;
}

.openMenu{
    display: inline-flex;
    align-items: center;
    color: #000;
    border: 1px solid rgb(185, 185, 185);
    width: 120px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    animation: customizeContentAppear 0.5s forwards;
}

#customizeList{
    display: none;
    border-radius: 15px;
    animation: customizeContentAppear 0.5s forwards;
}

.customizeOption{
    display: flex;
    align-items: center;
    background-color: rgba(235, 235, 235);
    border: 1px solid gray;
    color: rgb(87, 87, 87);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    cursor: pointer;
}

.customizeOption:hover, .closeList:hover {
    scale: 1.05;
}

.customizeOption:active, .closeList:active {
    scale: 1.1;
}

[data-theme='dark'] .customizeOption{
    background-color: rgb(87, 87, 87);
    color: rgb(245, 245, 245);
}

.closeList{
    width: 40px;
    margin: 5px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
}

#test{
    display: none;
}


/*It's Moblin' Time*/

@media only screen and (min-width: 800px){
    [data-theme='light'] #navbox {
        background-color: rgb(235, 235, 235, 0.7);
    }
}

@media only screen and (max-width: 800px) {
    #page{
        padding-top: 30vh;
    }

    input[type='search']{
        width: 90%;
    }

    input[type='search'], input[type='submit']{
        height: 50px;
    }

    input[type='search']{
        font-size: 3.5vw;
    }

    .searchLogo{
        padding: 0px;
        width: 100px;
        margin-bottom: 10px;
    }

    .searchText{
        font-size: 26pt;
    }

    #customize {
        top: 0;
    }

    .listbox a {
        font-size: 14pt;
    }
}

/*Animations*/

@keyframes customizeContentAppear {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}