main{
    background-image: url('/global/media/images/cyan/cyanBanner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.columnContainer{
    margin-top: 0px;
}

.cyanHerself{
    width: 200px;
    height: auto;
    margin: 0;
    border: 8px solid white;
}

.buttonForCyan{
    margin-top: 50px;
    font-size: 18pt;
    border: 0px;
    background: linear-gradient(to right, #384272, #ffa9f28e);
    box-shadow: 0 2px 8px 0 #ffa9f263,0 6px 20px 0 #384272;
}


.featureList a{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    width: 200px;
    border-radius: 20px;
    font-size: 22pt;
    margin: 10px;
    padding: 5px 5px;
    background-color: rgba(246, 171, 241, 0.1);
    border: 1px solid #f6b6ff;
    user-select: none;
    transition: scale 0.2s;
}

.cyanDisplay{
    width: 50%;
    background: linear-gradient(to top, #3842722a, #fab1f74a), linear-gradient(to right, #3842725f, #fab1f70c);
    margin-left: 25%;
    border-bottom: 40px solid #384272;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 300px;
}


.cyanDisplay img{
    margin-left: 20px;
    margin-bottom: -30px;
}

@media only screen and (min-width: 900px) {
    .cyanDisplay{
        min-width: 300px;
    }
}