body{
  background: linear-gradient(45deg, rgb(40, 51, 98), rgb(119, 93, 160));
}

.necoArc{
    width: 128px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 15px;
}

.bannerButton img{
    margin-top: -90px;
    transition: width 0.2s, margin-top 0.2s, transform 0.2s;
}

.bannerButton:hover img{
    width: 150px;
    margin-top: -60px;
}

.bannerButton:active img{
  width: 0px;
  margin-top: -50px;
  transform: rotate(480deg);
}

.bubbleList{
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
}

.bubbleList div{
  width: 280px;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(246, 171, 241, 0.1);
  border: 2px solid #f6b6ff;
  border-radius: 20px;
  margin: 10px;
  transition: width 0.2s;
}

.bubbleList span{
  font-size: 26pt;
  margin: 0px;
}

.bubbleList p{
  font-size: 11pt;
  margin: 5px;
  transition: font-size 0.2s;
}

.sailImage{
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.specialTitle{
  margin-top: 80px;
}

.inviteButton{
    width: 140px;
    height: 55px;
    background-color: rgb(41, 43, 50, 0.75);
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 16pt;
    text-indent: 45px;
    cursor: pointer;
    border-radius: 15px;
    transition: width 0.2s, height 0.2s, background-color 0.2s, border 0.2s, border-radius 0.2s;
}

.mainJoinDiscord{
    border: 4px solid #5865F2;
    background: url(../../global/media/icons/logos/logoDiscord.webp) no-repeat 8px 5px;
    background-position: 8px 5px;
    background-size: 40px;
}

.mainJoinSteam{
  border: 4px solid #0275A5;
  background: url(../../global/media/icons/logos/logoSteam.webp) no-repeat 8px 4px;
  background-size: 40px;
}

.mainJoinDiscord:hover{
  background: #5865F2 url(../../global/media/icons/logos/logoDiscordHover.webp) no-repeat 8px 5px;
  background-size: 40px;
}

.mainJoinSteam:hover{
  background: #0275A5 url(../../global/media/icons/logos/logoSteamHover.webp) no-repeat 8px 4px;
  background-size: 40px;
}


.listbox{
  background-color: rgb(50, 50, 50);
  height: auto;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: width 0.2s, height 0.2s, border-radius 0.6s;
}

[data-theme='light'] .listbox{
  background-color: rgb(219, 219, 219);
}


[data-theme='light'] .listbox button{
  color: rgb(50, 50, 50);
}



@media only screen and (min-width: 700px) {
  .inviteButton:hover{
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.15);
  }
}

@media only screen and (max-width: 700px) {
  .bubbleList div{
    width: 90%;
    font-size: 12pt;
  }

  .bannerContent h1{
    font-size: 5vw;
  }

  .bubbleList p{
    font-size: 12pt;
  }

  .inviteButton{
      width: 64px;
      text-indent: -9999px;
  }

  .columnContainer{
    margin: 0px !important;
  }
} 

article img{
  width: 100%;
  max-width: 1000px;
}

.mainText{
  font-size: 36pt;
}