<html>
    <head>
        <meta http-equiv="refresh" content="2; url='https://discord.gg/VjUWMZexyN'" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../global/css/redirect.css">
    </head>
    <body>
        <div class="box">
            <div class="box">
                <span class="main">Redirecting to&nbsp<a class="main textLink">discord.com</a>&nbspmomentarily</span>
            </div>
        </div>
        <span class="fallback">Not working? Click&nbsp<a class="fallback textLink" href=https://discord.gg/VjUWMZexyN>here</a></span>
    </body>
</html>